<app-busy class="invisible" [ngClass]="{'visible':loading,'invisible':!loading}"></app-busy>

<!-- <div class="business-bg"></div> -->
<app-header></app-header>


<div class="business">
  <!-- Counter section Start -->
  <section class="business-counter">
    <div class="counter-sec">

      <div class="container">
        <h2>Would you like to Contribute in our business fund?</h2>
        <p class="desc">Next business Draw In</p>
        <div class="time-counter" id="timeCounter">
          <div><strong>{{businessDays}}</strong> <span>Days</span></div>
          <div><strong>{{businessHours}}</strong> <span>Hours</span></div>
          <div><strong>{{businessMinutes}}</strong> <span>Minutes</span></div>
          <div><strong>{{businessSeconds}}</strong> <span>Seconds</span></div>
        </div>
      </div>

      <div *ngIf="(winnerSelectionService.isMonthlyDrawOngoing | async)" class="ongoingdraw">
        <div class="header">Business Draw is ongoing</div>
        <div class="drawbox">
          <div class="lds-hourglass loader"></div>
          <div class="participants info-card">
            <div class="info-card__body">
              <div class="winner-group">
                <div *ngFor="let participant of signalRservice.businessParticipants" class="winner-item">
                  <div class="winner-item__description">
                    <span class="winner-name">{{participant.userName}}</span>
                    <span class="winning-details">
                      <span class="amount-won"> staked <span class="period"> </span>GH₵
                        {{participant.amountStaked}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="!(winnerSelectionService.isMonthlyDrawOngoing | async) && winnerSelectionService.currentBusinessWinners"
        class="winnerbox">
        <div class="title">Latest Business Winners</div>
        <div class="body">
          <div *ngFor="let winner of winnerSelectionService.currentBusinessWinners" class="winner">
            <span>{{winner.userName}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="contribute-sec">
      <div class="container">
        <h6 class="contribute-title">Current Participants</h6>
        <div class="contribute-info values-slider">
          <div class="contribute-list">
            <div *ngFor="let participant of signalRservice.businessParticipants" class="list-item">
              <strong>{{participant.userName}}</strong>
              <span>CONTRIBUTED</span>
              <a href="">GH₵ {{participant.amountStaked}}</a>
            </div>
          </div>
        </div>
        <div class="info-card__footer">{{signalRservice.potentialBusinessWinnersCount}} potential winner<span
            *ngIf="signalRservice.potentialBusinessWinnersCount != 1">s</span></div>
      </div>
    </div>
  </section>
  <!-- Counter section End -->
  <!-- Business Steps section Start -->
  <section class="business-steps">
    <div class="container">
      <h6 class="text-center">CHOOSE AN OPTION TO Contribute</h6>
      <form class="steps-wrap">
        <div class="step">
          <h6 class="step-title">1. Select the amount you would like to contribute</h6>
          <div class="tickets">
            <div class="radio-group">
              <input type="radio" id="radioG1" name="radio" checked value="100" [(ngModel)]="selectedAmount" (change)="selectChoice($event,100.00)" />
              <label for="radioG1">GH₵ 100</label>
            </div>
            <div class="radio-group">
              <input type="radio" id="radioG2" name="radio" value="500" [(ngModel)]="selectedAmount" (change)="selectChoice($event,500.00)"/>
              <label for="radioG2">GH₵ 500</label>
            </div>
            <div class="radio-group">
              <input type="radio" id="radioG3" name="radio" value="1000" [(ngModel)]="selectedAmount" (change)="selectChoice($event,1000.00)"/>
              <label for="radioG3">GH₵ 1000</label>
            </div>
            <div class="radio-group">
              <input type="radio" id="radioG4" name="radio" value="2000" [(ngModel)]="selectedAmount" (change)="selectChoice($event,2000.00)"/>
              <label for="radioG4">GH₵ 2000</label>
            </div>
          </div>
        </div>
        <div class="step">
          <h6 class="step-title">2. SELECT Contribution PERIOD</h6>
          <p class="desc">Potential returns for a contribution of <strong>GH₵ {{selectedAmount}}</strong> is <strong>GH₵ {{potentialReturns}}</strong>
          </p>
        </div>
        <div class="step">
          <h6 class="step-title">3. PRESS Contribute BUTTON AND START</h6>
          <button (click)="pay()" class="contribute-btn">Contribute</button>
        </div>
      </form>
    </div>
  </section>
  <!-- Business Steps section End -->
  <!-- Past-winners section start -->
  <section class="past-winners">
    <div class="winners">
      <div *ngIf="winnerSelectionService.groupedBusinessWinners" class="container">
        <h6 class="text-center">Past Winners</h6>
        <div class="win-list winner-slider">

          <ng-template *ngFor="let key of ObjectKeys(winnerSelectionService.groupedBusinessWinners)">
            <div *ngFor="let winner of winnerSelectionService.groupedBusinessWinners[key]" class="win-item">
              <strong class="price">{{winner.amountToWin}}</strong>
              <span class="sign">GH₵</span>
              <h5>{{winner.userName}}</h5>
              <p class="desc">{{key}}</p>
            </div>
          </ng-template>
          
        </div>
      </div>
    </div>
    <div class="win-banner">
      <div class="win-prize">
        <span>Prizes Paid</span>
        <strong>GH₵ 220,000</strong>
        <p>With Ntoboafund, the more you invest the better your chances of winning BIG!.</p>
      </div>
    </div>
  </section>
  <!-- Past-winners section End -->
  <!-- Articles section start -->
  <section class="aritcles-sec">
    <div class="container">
      <h6 class="text-center">NEW ARTICLES</h6>
      <div class="art-wrap article-slider">
        <div class="art-item">
          <figure><img src="assets/images/article-img01.jpg" alt="article-img01" /></figure>
          <div class="info">
            <h5>Crowdfunding Legal Issues for Small Businesses</h5>
            <p class="profile-date">BY <strong>JEAN MURRAY</strong>, <span>Updated June 25, 2019</span></p>
            <p class="desc">Most crowdfunding websites allow individuals or companies to present an idea to others, who
              donate money with no expectation of anything (other than a small token gift) in return. One of the largest
              crowdfunding sites, Kickstarter, sets itself as a middleman between creative types.</p>
          </div>
        </div>
        <div class="art-item">
          <figure><img src="assets/images/article-img02.jpg" alt="article-img02" /></figure>
          <div class="info">
            <h5>Peer-to-peer Lending as Crowdfunding Model</h5>
            <p class="profile-date">BY <strong>JEAN MURRAY</strong>, <span>Updated June 25, 2019</span></p>
            <p class="desc">Before you get too excited about this new way to raise money for your business, you should
              be aware of the potential legal issues involved. As usual, when a new idea gets ahead of current
              regulation and laws, some issues arise. This article addresses some of those issues.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Articles section End -->
  <app-footer></app-footer>
</div>

<!-- [ngClass]="{'visible':errorShown,'invisible':!errorShown}" -->
<div class="popup regular" id="error-box">
  <div class="popup__content">
    <div class="popup__content--toolbar">
      <div class="toolbar--left">Error !</div>
      <div class="toolbar--right">
        <a (click)="closePopup()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      {{error}}
    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>

<!-- [ngClass]="{'visible':congratShown,'invisible':!congratShown}" -->
<div [ngClass]="{'visible':congratShown,'invisible':!congratShown}" class="popup regular visible" id="congrats-box">
  <div class="popup__content">
    <!-- <div class="popup__content--toolbar">
      <div class="toolbar--left">Error !</div>
      <div class="toolbar--right">
        <a (click)="closeCongratPopup()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div> -->
    <div class="popup__content--body">
      <div class="top">Congratulations</div>
      <div class="body">{{congratMsg}}</div>
    </div>
    <div class="popup__content--footer">
      <button (click)="closeCongratPopup()">Ok</button>
    </div>
  </div>
</div>

<app-faq></app-faq>

<app-payment-dialog [amount]="selectedAmount" [stakeType]="'Business'"
  [username]="authService.currentUser.firstName +' '+ authService.currentUser.lastName" [txRef]="this.raveOptions.txref"
  *ngIf="customPaymentDialogShown && this.raveOptions" (close)="closePaymentDialog()"
  (oncongratmessage)="showCongratulatoryMessage($event)">
</app-payment-dialog>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157438990-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-157438990-1');
</script>