.flatradios {
    background-color: white;
    display: flex;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #3ab3d2;
    .flatradio-choice {
        cursor: pointer;
        margin-bottom: 0rem;
        position: relative;
        width: 100%;
        text-align: center;
        overflow: hidden;
      &:not(:last-child) {
        &::after {
          content: "";
          position: absolute;
          height: 90%;
          width: 1px;
          top: 5%;
          right: 0;
          background-color: var(--deepGrey);
        }
      }
      input {
        display: none;
        &:checked {
          & + .text {
            background-color: rgba(#3ab3d2,.8);
            //color: white;
            font-weight: bolder;
          }
        }
      }
      .text {
        padding: 1rem;
        font-size: 1.5rem;
        transition: all 0.2s;
      }
      &:hover {
        background-color: rgba(#3ab3d2,.6);
        //color: white;
        .text {
          transform: scale(1.2);
        }
      }
    }
  }
