.message {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(black, 0.6);
    color: white;
    padding: 2rem;
    margin: 5rem;
    z-index: var(--level-two);
    opacity: 0;
    transform: translateY(-5rem);
    transition: all 0.3s;
    visibility: hidden;
  }
  .message.shown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
  }