.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: var(--level-four);
  visibility: hidden;

  transition: all 0.2s;
  &__content {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../assets/images/globalbg2.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    position: relative;
    min-width: 35%;
    opacity: 0;
    transform: scale(0.1);
    transition: all 0.2s;
    box-shadow: var(--shadow);
    &--toolbar {
      height: 3rem;
      padding: 0.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      z-index: var(--level-two);
      .toolbar--left {
        display: flex;
        flex: 1 1;
        align-items: center;
        color: white;
        > * {
          margin: 0.5rem;
        }
        .toolbar-image{
          height: 2rem;
          width: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0.5rem 0.5rem 0.5rem 0;
          svg {
            transition: all 0.1s;
            fill: orangered;
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
      .toolbar--right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .closebtn {
          height: 2rem;
          width: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0.5rem 0 0.5rem 0.5rem;
          svg {
            transition: all 0.1s;
            fill: white;
            width: 1.5rem;
            height: 1.5rem;
            &:hover {
              fill: var(--fineRed);
              transform: scale(1.1);
            }
          }
        }
      }
    }
    &--body{
      margin: 0rem 2rem 2rem 2rem;
    }
    &--footer {
      display: flex;
      justify-content: flex-end;
    }
  }

  &:target {
    visibility: visible;
    .popup__content {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.popup.item-viewer {
  .popup__content {
    &--toolbar{
      position: absolute;
    }
    &--headerimage {
      position: relative;
      width: 100%;
      overflow: hidden;
      background-size: cover;
      height: calc(30vh);
      background-color: var(--shadow-color);
      background-blend-mode: overlay;
      .popup-action {
        position: absolute;
        bottom: 3.5rem;
        right: 0;
        display: flex;
        height: 3rem;
        &--delete {
          margin: 0.5rem;
          width: 2.5rem;
        }
        &--edit {
          margin: 0.5rem;
          width: 2.5rem;
        }
      }
    }
    &--info {
      display: relative;
      transform: translateY(calc(-50% - 1rem));
      box-shadow: var(--shadow);
      margin: 1rem;
      padding: 1rem;
      background: white;
    }
    &--body {
    }
  }
}

.popup.shop-viewer {
  .popup__content {
    &--topshade {
      position: absolute;
      bottom: 100%;
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: flex-end;
      background-image: linear-gradient(to top, #404d4f, transparent);
      .shop-logo {
        position: absolute;
        left: -2rem;
        width: 6rem;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--bordercolor);
      }
      .shop-name {
      }
      .inst-logo {
        flex: 0 1 3rem;
      }
    }
    &--toolbar {
      position: relative;
      margin-left: 4rem;
      width: calc(100% - 4rem);
    }
    &--body {
    }
    &--footer {
    }
    &--bottomshade {
      position: absolute;
      top: 100%;
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: white;
      padding-right: 5rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      background-image: linear-gradient(to bottom, #404d4f, transparent);
      .owner-image {
        position: absolute;
        right: -2rem;
        top: -100%;
        width: 6rem;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--bordercolor);
      }
      .owner-name {
        border-bottom: 1px solid white;
        transition: all 0.1s;
        cursor: pointer;
        &:hover {
          color: rgb(158, 169, 189);
          border-color: rgb(158, 169, 189);
        }
      }
    }
  }
}
