.recentsbox{
    background-color: rgba(white,.3);
    padding: .2rem;
    margin: 0rem 2rem;
    &__header{
      display: flex;
      font-size: 1.5rem;
      align-items: center;

      &--left{
        margin-left: 1rem;
        font-size: 2rem;
      }
      &--right{
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
        flex: 1 1;
        border-bottom: 1px solid var(--borderColor);
      }
    }
    &__body{
      padding: .3rem;
      max-height: calc(60vh);
      overflow: auto;
      text-align: center;
     
    }
  }
  .recent-stake-item{
    display: flex;
    flex-direction: column;
    background-color: rgba(#7c7cd0,.3);
    padding: .3rem;
    margin:.5rem;
    &--top{
      display: flex;
      align-items: center;
      //white-space: nowrap;
      flex-wrap: wrap;
      justify-content: center;
      .period{
        padding: .2rem .3rem;
        color:rgb(172, 0, 0);
      }
      .amount{
        padding: .2rem .3rem;
        color:rgb(1, 1, 161);
        border-radius: .5rem;
      }
      .date{
        padding: .3rem .6rem;
        color: green;
      }
      div{
        margin: .2rem;
      }

      &>div{
        white-space: nowrap;
      }
    }
    &--bottom{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      //white-space: nowrap;
      justify-content: center;
      div{
        margin: .2rem;
      }
      &>div{
        white-space: nowrap;
      }
    }
  }