@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 300, 700");

.c-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  cursor: pointer;
  &:hover *[class^=On] {
    visibility: visible;
    opacity: 1;
  }
  &:hover *[class^=On].OnTop {
    transform: translate(-50%, -100%);
  }
  &:hover *[class^=On].OnBottom {
    transform: translate(-50%, 100%);
  }
  &:hover *[class^=On].OnLeft {
    transform: translate(-100%, -50%);
  }
  &:hover *[class^=On].OnRight {
    transform: translate(100%, -50%);
  }
  *[class^=On] {
    text-align: center !important;
    min-width: 100px;
    opacity: 0;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    text-align: left;
    width: auto;
    background: #67C8EA;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.2;
    padding: 10px;
    border-radius: 3px;
    white-space: normal;
    // white-space: nowrap; // Uncomment this line if you want to break line
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
    z-index: var(--level-highest);
    &.OnTop {
      top: -5px;
      left: 50%;
      transform: translate(-50%, -150%);
      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 8px solid #67C8EA;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -8px;
        margin-left: -8px;
        left: 50%;
      }
    }
    &.OnBottom {
      bottom: -15px;
      left: 50%;
      transform: translate(-50%, 150%);
      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-bottom: 8px solid #67C8EA;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -8px;
        margin-left: -8px;
        left: 50%;
      }
    }
    &.OnLeft {
      left: -15px;
      top: 50%;
      transform: translate(-150%, -50%);
      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid #67C8EA;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        top: 50%;
        margin-top: -8px;
        right: -8px;
      }
    }
    &.OnRight {
      right: -15px;
      top: 50%;
      transform: translate(150%, -50%);
      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-right: 8px solid #67C8EA;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        top: 50%;
        margin-top: -8px;
        left: -8px;
      }
    }
  }
}
