.winnerbox{
  background-color: white;
  margin: 1rem;
  box-shadow: var(--shadow);
    .title{
      background-color: #007aff;
      color:white;
      padding: 1.5rem;
      text-align: center;
      letter-spacing: .1rem;
      text-transform: uppercase;
    }
    .body{
      text-align: center;
      .winner{
        display: flex;
        white-space: nowrap;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 2rem;
        position: relative;
        &::before{
          content: "";
          background-color: #007aff;
          border-top: .7rem solid white;
          border-right: .7rem solid white;
          border-bottom: .7rem solid white;
          border-left: .7rem solid #007aff;
        }
        &:not(:last-child)::after{
          content: "";
          height: 1px;
          width: 80%;
          background-color: rgb(110, 110, 110);
          position: absolute;
          bottom: 0;
          left:10%;
        }
        span{
          text-transform: uppercase;
          letter-spacing: .2rem;
          color:black
        }
      }
    }
  }

  