<div class="mhome-body">
    <div class="mhome-body__top">
      <div class="thumbcard">
        <div class="number">10</div>
        <div class="text">Users</div>
      </div>
      <div class="thumbcard">
        <div class="number">50</div>
        <div class="text">User Online</div>
      </div>
      <div class="thumbcard">
        <div class="number">500</div>
        <div class="text">Users Visited</div>
      </div>
      <div class="thumbcard">
        <div class="number">332000</div>
        <div class="text">Total Funds Collected</div>
      </div>
      <div class="thumbcard">
        <div class="number">34300</div>
        <div class="text">Total Funds Paid Out</div>
      </div>
      <div class="thumbcard">
          <div class="number">5000</div>
          <div class="text">Profit Made</div>
        </div>
        <div class="thumbcard">
            <div class="number">34300</div>
            <div class="text">Total Loss</div>
          </div>
    </div>
    <div class="mhome-body__info-strips">
      <div class="panel">
        <div class="text">Get 3 Points on every 5 cedis bet placed and win amazing prizes during the points draw at the end of the month</div>
      </div>
    </div>
    

  </div>
  
  <!-- [plugins]="lineChartPlugins"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)" -->
  
  <!-- 
  <div class="anum">
      <canvas baseChart width="400" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
     ></canvas>
  </div>
  <div class="monthly">
      <canvas baseChart width="400" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"></canvas>
  </div> -->