<div class="mhome-body">
  <div class="mhome-body__top">
    <div class="thumbcard">
      <div class="number">{{analysisService.defaultAnalysis.usersCount}}</div>
      <div class="text">Users</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{analysisService.defaultAnalysis.dummiesCount}}</div>
      <div class="text">Dummies</div>
    </div>

    <div class="thumbcard">
      <div class="number">{{signalRService.usersOnline}}</div>
      <div class="text">Users Online</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{analysisService.defaultAnalysis.totalFundsCollected}} <span>GHS</span></div>
      <div class="text">Total Funds Collected</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{analysisService.defaultAnalysis.totalFundsPaid}} <span>GHS</span></div>
      <div class="text">Total Funds Paid Out</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{analysisService.defaultAnalysis.totalProfits}} <span>GHS</span></div>
      <div class="text">Profit Made</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{analysisService.defaultAnalysis.totalLosses}} <span>GHS</span></div>
      <div class="text">Total Loss</div>
    </div>
  </div>
  <div class="mhome-body__info-strips">
    <div class="panel">
      <div class="text">Stakers Get a Point on every bet placed and win amazing prizes during the points draw at the
        end of the month</div>
    </div>
  </div>
  <div class="mhome-body__charts">
    <div class="anum chart-container">
      <div class="chart-container__head">Yearly Analysis</div>
      <div class="chart-container__body">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
          [chartType]="lineChartType"></canvas>
      </div>
    </div>
    <div class="monthly chart-container">
      <div class="chart-container__head">Monthly Analysis</div>
      <div class="chart-container__body">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
          [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>

</div>

<!-- [plugins]="lineChartPlugins"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)" -->