<app-header></app-header>
<div class="wrapper scroller">
  <div class="content">
    <!-- Faq section Start -->
    <section class="contact-sec faq-sec">
      <div class="container">
        <h6 class="contact-title">frequently asked question</h6>
        <div class="question-row">
          <div class="q-cols">
            <h5 class="q-title">1. How do i register</h5>
            <p class="q-desc">Click login or signup on the homepage and enter your details, An sms/email message will be sent to you to confirm your details.</p>
          </div>
          <div class="q-cols">
            <h5 class="q-title">2. Who can Contribute</h5>
            <p class="q-desc">Persons at or above the age of 18 years, who are in school, established a business or anyone else who wants to get lucky.</p>
          </div>
        </div>
        <div class="question-row">
          <div class="q-cols">
            <h5 class="q-title">3. How to Contribute</h5>
            <p class="q-desc">Follow the instructions stipulated with the scholarship, business and luckyme sections to Invest.</p>
          </div>
          <div class="q-cols">
            <h5 class="q-title">4. How Do I Get Paid</h5>
            <p class="q-desc">Once you are selected as the winner for the period you have selected, you will receive an alert via sms or email and the money would be paid to your mobile money or bank account immediately.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- faq section End -->
  </div>
  <app-footer></app-footer>
</div>
