
<div [ngClass]="{'visible':faqService.isShown,'invisible':!faqService.isShown}" class="popup regular" id="error-box">
  <div class="popup__content">
    <div class="info-card">
      <div class="info-card__head">
        <div class="info-card__head--icon">
          <span class="fa fa-comments"></span>
        </div>
        <div class="info-card__head--text">What you need to know</div>
        <div (click)="closefaq()" class="closebtn"><span class="fa fa-times"></span></div>
      </div>
      <div class="info-card__body">
        <div class="question-card">
          <input type="checkbox" id="q1">
          <label class="question" for="q1">
            1. How do i register
            <span class="fa fa-arrow-up"></span>
          </label>
          <div class="answer">
            Just Register and Make a choice
          </div>
        </div>
        <div class="question-card">
          <input type="checkbox" id="q2">
          <label class="question" for="q2">
            2. How Do I Get Paid
            <span class="fa fa-arrow-up"></span>
          </label>
          <div class="answer">
            Once you are selected as the winner for the period you selected, You will recieve an sms and the money
            would be paid to your momo account immediately.
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>