.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   // box-shadow: var(--bottom-shadow);
    .brand-logo {
      //height: 6rem;
    }
    .nav-links {
      ul {
        list-style: none;
        display: flex;
        & > li {
          margin: 0.5rem;
          padding: 0.5rem;
          cursor: pointer;
          a{
            font-size: 2rem;
            text-transform: uppercase;
              &,&:active,&:link{
                  color:black;
              }
              &:hover{
                  color:var(--lightGrey);
              }
          }
        }
      }
    }
    .account-actions {
      .dropdown-toggle{
        font-size: 1.5rem;
        display: flex;
        align-items: center
      }
      #dropdown-checker{
        display: none;
        &:checked{
          &~.my-dropdown{
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .my-dropdown{
        visibility: hidden;
        opacity: 0;
        position:absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        background-color: white;
        border-radius: .5rem;
        box-shadow: var(--shadow);
        overflow: hidden;
        transition: all .1s;
        &__item{
          color:black;
          padding: 1rem;
          text-align: center;
          margin-right: 0rem;
          &:hover{
            background-color: grey;
            color:white;
          }
        }
      }
      #user-det{
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      p{
        margin: .3rem;
      }
      a {
        margin-right: 1rem;
        border-color:white;
        color:white;
      }
    }
  }