<footer>
  <div class="company">
    <div class="company__head">
      NTOBOAFUND
    </div>
    <div class="company-info">Ntoboafund creates a platform to help individuals and businesses gain financial support through gaming..Locate
      us at the Accra Digital Center. <a target="_blank" href="https://goo.gl/maps/eejDVhubAq8q8Fwa9" class="white">view in map</a>
    </div>
  </div>
  <div class="legal-stuff">
    <div class="legal-stuff__head">Legal</div>
    <a [routerLink]="'/terms'" class="white">Terms and Conditions</a>
    <a [routerLink]="'/cookiepolicy'">Privacy and Cookie Policy</a>
  </div>
  <div class="get-started">
    <div class="get-started__head">Get Started</div>
    <div class="get-started__text">Play today, win big</div>
    <!-- <div class="get-started__link">
      <a routerLink="/crowdfunding" class="btn-primary btn--rounded btn--small">Crowdfund Now</a>
    </div> -->
  </div>
  <div class="contact-us">
    <div class="contact-us__head">Contact Us</div>
    <div class="contact-us__email">Tel : 03030964581</div>
    <div class="contact-us__email">ntoboafundgh@gmail.com</div>
    <div class="contact-us__socials">
      <div class="social-link">
        <a title="facebook" href="https://www.facebook.com/Ntoboafund/">
          <img src="../../assets/images/fblogo.png" alt="">
        </a>
      </div>
      <div class="social-link">
        <a title="facebook" href="https://www.instagram.com/ntoboafund/">
          <img src="../../assets/images/instagram.png" alt="">
        </a>

      </div>
      <div class="social-link"> <a title="facebook" href="https://twitter.com/Ntoboafundgh">
          <img src="../../assets/images/twitterlogo.png" alt="">
        </a>
      </div>
    </div>
  </div>

</footer>
