<section>
  <app-header></app-header>

  <div class="luccky">
    <div class="bg-section d-table w-100" style="background: url('../../assets/images/lucky-me.jpg');">
      <div class="container">
        <div class="row position-relative align-items-center pt-4">
          <div class="col-lg-6">
            <div class="title-heading rounded bg-white shadow mt-5">
              <h1 class="heading mb-3">Lucky Me </h1>
              <p class="para-desc text-muted">Launch your campaign and benefit from our expertise on designing and
                managing conversion centered bootstrap4 html page.</p>
              <div class="mt-4">
                <a routerLink="/luckyme/get-started" class="btn btn-primary mt-2 mr-2">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper light-wrapper">
      <div class="container inner">
        <h2 class="title-color text-center">What Is It?</h2>
        <h3 class="display-3 text-center">The full service we are offering is specifically <br
            class="d-none d-lg-block" />designed to meet your needs.</h3>
        <div class="space40"></div>
        <div class="row gutter-50">
          <div class="col-md-6 col-lg-4">
            <div class="d-flex flex-row justify-content-center">
              <div>
                <div class="icon icon-blob icon-blob-rose color-rose mr-25">
                  <!-- <i class="icofont-headphone-alt"></i> -->
                  <mat-icon>contact_support</mat-icon>
                </div>
              </div>
              <div>
                <h5>24/7 Support</h5>
                <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                  Cras justo.</p>
              </div>
            </div>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <div class="d-flex flex-row justify-content-center">
              <div>
                <div class="icon icon-blob icon-blob-blue color-blue mr-25">
                  <mat-icon>verified_user</mat-icon>
                </div>
              </div>
              <div>
                <h5>Secure Payments</h5>
                <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                  Cras justo.</p>
              </div>
            </div>
          </div>
          <!--/column -->
          <div class="space20 d-none d-md-block d-lg-none"></div>
          <div class="col-md-6 col-lg-4">
            <div class="d-flex flex-row justify-content-center">
              <div>
                <div class="icon icon-blob icon-blob-green color-green mr-25">
                  <!-- <i class="icofont-refresh"></i> -->
                  <mat-icon>history</mat-icon>
                </div>
              </div>
              <div>
                <h5>Periodic Rounds</h5>
                <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                  Cras justo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
