.adusers-body {
  display: flex;
  height: calc(100vh - 6rem);
  justify-content: space-evenly;
  overflow: hidden;
  &__left {
    width: 50%;
    height: inherit;
    overflow: auto;
    .users-pane {
      background-color: white;
      height: 100%;
      border-left: 1px solid var(--bordercolor);
      border-right: 1px solid var(--bordercolor);
      .heading {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        border-bottom: 1px solid var(--bordercolor);
        height: 5rem;
        line-height: 5rem;
        display: flex;
        min-width: 25rem;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem;
        .toplink {
          text-transform: none;
          font-size: 1rem;
        }
        &__right{
            display: flex;
            position: relative;
            &>*{
                margin:0 1rem;
            }
        }
      }
      .searchbox {
      }
      .allusers {
        height: calc(100% - 8.5rem);
        .user-item {
          display: flex;
          margin: 1rem;
          color: white;
          cursor: pointer;
          input[type="radio"] {
            display: none;
            &:checked {
              & ~ .user-item__detail {
                background-color: rgb(22, 149, 199);
                box-shadow: var(--shadow);
                transition: all 0.1s;
              }
            }
          }
          &__detail {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 1rem 1rem;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            display: block;
            width: 100%;
            cursor: pointer;
          }
          & > div {
            margin: 0.5rem;
          }
        }
      }
    }
  }
  &__right {
    width: 50%;
    height: inherit;
    overflow: auto;
    .toprow {
      display: flex;
      position: fixed;
      background-color: white;
      width: 100%;
      height: 5rem;
      border-bottom: 1px solid var(--bordercolor);
      align-items: center;
      z-index: 1;
      .toplink {
        margin: 1rem;
        font-size: 1.7rem;
      }
    }
    .bottomrow {
      margin-top: 6rem;
      height: calc(100% - 9.5rem);
      overflow: auto;
      .recentsbox {
        margin: 2rem;
        box-shadow: var(--shadow);
        &__body {
          height: 20rem;
        }
      }
    }
    .tab-pane{
        height:100%
    }
  }
}
