<app-busy class="invisible" [ngClass]="{'visible':loading,'invisible':!loading}"></app-busy>

<div class="scholarship-bg"></div>
<app-header></app-header>
<div class="scholarship-body">
  <div class="scholarship-body__content">
    <div class="scholarship-body__content__header">
      <div class="scholarship-body__content__header__left">
        <h6 class="main-header">WOULD YOU LIKE TO PARTICIPATE IN OUR SCHOLARSHIP GAME?</h6>
        
        <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async) && scholarshipSeconds>=0" class="countdown">
          <div class="header">The next Scholarship winners get selected in </div>
          <div class="counters">
            <!-- <div class="ctd">{{scholarshipDays}} <span>Days</span></div> -->
            <div class="ctd">{{scholarshipDays}} <span>Days</span></div>
            <div class="ctd">{{scholarshipHours}} <span>Hours</span></div>
            <div class="ctd">{{scholarshipMinutes}} <span>Minutes</span></div>
            <div class="ctd">{{scholarshipSeconds}} <span>Seconds</span></div>
          </div>
        </div>

      </div>
      <div class="scholarship-page__content__header__right">
        <div class="info-card-1 participants">
          <div class="info-card-1__head">
            <div class="contribute-title white">CURRENT PARTICIPANTS</div>
          </div>
          <div class="info-card-1__body">
            <!-- *ngFor="let key of ObjectKeys(winnings)"  -->
            <div class="winner-group contribute-info">
              <!-- <div class="winner-group__header">
              Today
            </div> -->
              <!-- *ngFor="let winner of winnings[key]" -->
              <div *ngFor="let participant of signalRservice.scholarshipParticipants"
                class="winner-item contribute-list">
                <div class="winner-item__description list-item">
                  <strong class="winner-name">{{participant.userName}}</strong>
                  <span class="contrib">PLAYED</span>
                  <a class="amount-won">GH₵
                    {{participant.amountStaked}}</a>
                  <!-- <span class="winning-details">
                    <span class="contrib">PLAYED</span>
                    <span class="amount-won"> <span class="period"> </span>GH₵
                      {{participant.amountStaked}}</span>
                    <span class="amount-staked"> with GH₵ winner.amount</span>
                  </span> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="info-card-1__footer">{{signalRservice.potentialScholarshipWinnersCount}} potential winner<span
              *ngIf="signalRservice.potentialScholarshipWinnersCount != 1">s</span></div> -->
        </div>
      </div>
    </div>
    <div id="stake-center" class="scholarship-body__content__middle">
      <div *ngIf="(winnerSelectionService.isQuaterlyDrawOngoing  | async)" class="ongoingdraw">
        <div class="header">Scholarship Draw is ongoing</div>
        <div class="drawbox">
          <div class="lds-hourglass loader"></div>
          <div class="participants info-card">
            <div class="info-card__body">
              <div class="winner-group">
                <div *ngFor="let participant of signalRservice.scholarshipParticipants" class="winner-item">
                  <div class="winner-item__description">
                    <span class="winner-name">{{participant.userName}}</span>
                    <span class="winning-details">
                      <span class="amount-won"> staked <span class="period"> </span>GH₵
                        {{participant.amountStaked}}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async) && winnerSelectionService.currentScholarshipWinners"
        class="winnerbox">
        <div class="title">Latest Scholarship Winners</div>
        <div class="body">
          <div *ngFor="let winner of winnerSelectionService.currentScholarshipWinners" class="winner">
            <span>{{winner.userName}}</span>
          </div>
        </div>
      </div>

      <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async)" class="stake-box">
        <input #stakeboxcontroller type="checkbox" id="stakeboxcontroller">
        <div class="stake-box__body">
          <div class="stake-box__body__info">
            <div class="stake-box__body__info__head white">Select The Amount You Would Like To
              Play
            </div>
            <div class="amount-box">
              <label for="20" class="amount-item">
                <input checked (change)="selectAmount(20)" id="20" name="amount" type="radio">
                <div class="amount-item__left">
                  <p>GH₵ 20</p>
                </div>
                <div class="amount-item__right">
                  <label for="20" class="c-checkbox-action">
                    <span></span>
                  </label>
                </div>
              </label>
              <label for="50" class="amount-item">
                <input (change)="selectAmount(50)" id="50" name="amount" type="radio">
                <div class="amount-item__left">
                  <p>GH₵ 50</p>
                </div>
                <div class="amount-item__right">
                  <label for="50" class="c-checkbox-action">
                    <span></span>
                  </label>
                </div>
              </label>
              <label for="100" class="amount-item">
                <input (change)="selectAmount(100)" id="100" name="amount" type="radio">
                <div class="amount-item__left">
                  <p>GH₵ 100</p>
                </div>
                <div class="amount-item__right">
                  <label for="100" class="c-checkbox-action">
                    <span></span>
                  </label>
                </div>
              </label>
            </div>
            <div class="arrow">
              <img src="assets/svgs/step-arrow.svg" alt="">
            </div>
            <div style="color:#f44336;" *ngIf="error" class="potential-returns">{{error}}
            </div>
            <div *ngIf="!error" class="potential-returns white">Potential returns for this play option is
              <span *ngIf="potentialReturns" class="returns">{{potentialReturns}}</span>
            </div>
            <div class="arrow">
              <img src="assets/svgs/step-arrow.svg" alt="">
            </div>
            <div class="proceed">
              <label for="stakeboxcontroller" class="btn-trans i-want" (click)="proceed($event)">Proceed
                <span>&rarr;</span></label>
            </div>
          </div>
          <div class="stake-box__body__staker">
            <div class="content">
              <form class="stake-form" [formGroup]="scholarshipForm">
                <div class="form-group">
                  <label for="exampleInputInstitution" class="white">Which institution do you belong to</label>
                  <input type="text" class="form-control" id="exampleInputInstitution" formControlName="Institution"
                    aria-describedby="InstitutionHelp" placeholder="Enter Institution">
                  <span>
                    <small *ngIf="!scholarshipForm.get('Institution').valid && scholarshipForm.touched"
                      class="form-text white">The institution name is required !!</small>
                  </span>
                </div>
                <div class="form-group">
                  <label for="exampleInputProgram" class="white">Which program do you offer</label>
                  <input type="text" class="form-control" id="exampleInputProgram" aria-describedby="ProgramHelp"
                    placeholder="Enter Program" formControlName="Program">
                  <span>
                    <small *ngIf="!scholarshipForm.get('Program').valid && scholarshipForm.touched"
                      class="form-text white">Your offered program is required !!</small>
                  </span>
                </div>
                <div class="form-group">
                  <label for="exampleInputStudentId" class="white">What is your student Id number</label>
                  <input type="text" class="form-control" id="exampleInputStudentId" aria-describedby="StudentIdHelp"
                    placeholder="Enter Student Id" formControlName="StudentId">
                  <span>
                    <small *ngIf="!scholarshipForm.get('StudentId').valid && scholarshipForm.touched"
                      class="form-text white">Your student id is required !!</small>
                  </span>
                </div>
                <div class="form-group">
                  <label for="exampleInputStudentId" class="white">Select your player type</label>
                  <div class="flatradios">
                    <label class="flatradio-choice" for="student">
                      <input type="radio" value="student" formControlName="PlayerType" name="PlayerType" id="student">
                      <div class="text">Student</div>
                    </label>
                    <label class="flatradio-choice" for="parent">
                      <input type="radio" value="parent" formControlName="PlayerType" name="PlayerType" id="parent">
                      <div class="text">Parent/Guardian</div>
                    </label>
                  </div>
                  <span>
                    <small class="form-text white"
                      *ngIf="!scholarshipForm.get('PlayerType').valid && scholarshipForm.touched">Please
                      select a
                      player type</small>
                  </span>
                </div>
              </form>
            </div>
            <div class="footer">
              <label for="stakeboxcontroller" class="btn-trans i-resign white"><span>&larr;</span>Back</label>
              <label (click)="paymentInitialized()" class="btn-trans white">Proceed<span>&rarr;</span></label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <section class="past-winners lucky-winner-sec">
      <div class="winners">
        <div class="container">
          <h6 class="text-center">Past Winners</h6>
          <div *ngIf="winnerSelectionService.groupedScholarshipWinners">
            <app-slide-panel [classes]="['win-list','winner-slider']">
              <div *ngFor="let key of ObjectKeys(winnerSelectionService.groupedScholarshipWinners)" class="win-item">
                <strong class="price">{{winnerSelectionService.groupedScholarshipWinners[key][0].amountToWin}}</strong>
                <span class="sign">GH₵</span>
                <h5>{{winnerSelectionService.groupedScholarshipWinners[key][0].userName}}</h5>
                <p class="desc">{{key}}</p>
              </div>
            </app-slide-panel>
          </div>
        </div>
      </div>
    </section>

    <div class="win-banner">
      <div class="win-prize">
        <span>Prizes Paid</span>
        <strong>GH₵ 220,000</strong>
        <p>With Ntoboafund, the more you play the better your chances of winning BIG!.</p>
      </div>
    </div>
    <!-- <section class="aritcles-sec">
      <div class="container">
        <h6 class="text-center">NEW ARTICLES</h6>
        <div class="art-wrap article-slider">
          <div class="art-item">
            <figure><img src="assets/images/article-img01.jpg" alt="article-img01" /></figure>
            <div class="info">
              <h5>Crowdfunding Legal Issues for Small Businesses</h5>
              <p class="profile-date">BY <strong>JEAN MURRAY</strong>, <span>Updated June 25, 2019</span></p>
              <p class="desc">Most crowdfunding websites allow individuals or companies to present an idea to others,
                who donate money with no expectation of anything (other than a small token gift) in return. One of the
                largest crowdfunding sites, Kickstarter, sets itself as a middleman between creative types.</p>
            </div>
          </div>
          <div class="art-item">
            <figure><img src="assets/images/article-img02.jpg" alt="article-img02" /></figure>
            <div class="info">
              <h5>Peer-to-peer Lending as Crowdfunding Model</h5>
              <p class="profile-date">BY <strong>JEAN MURRAY</strong>, <span>Updated June 25, 2019</span></p>
              <p class="desc">Before you get too excited about this new way to raise money for your business, you should
                be aware of the potential legal issues involved. As usual, when a new idea gets ahead of current
                regulation and laws, some issues arise. This article addresses some of those issues.</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <div class="scholarship-page__content__bottom">
      <!-- <div class="s-records-info">
        <div class="s-record">
          <div class="s-record__figure">GHC 100K+</div>
          <div class="s-record__text">Returns Paid to Our Scholarship Fund Contributors so far</div>
        </div>
        <div class="s-record">
          <div class="s-record__figure">GHC 500+</div>
          <div class="s-record__text">Students Supported so far</div>
        </div>
        <div class="s-record">
          <div class="s-record__figure">GHC 60K+</div>
          <div class="s-record__text">Total Points Earned by
            Scholarship Fund
            Contributors so far</div>
        </div>
      </div> -->

    </div>
    <app-footer></app-footer>
  </div>
</div>

<!-- [ngClass]="{'visible':errorShown,'invisible':!errorShown}" -->
<div class="popup regular" id="error-box">
  <div class="popup__content">
    <div class="popup__content--toolbar">
      <div class="toolbar--left">Error !</div>
      <div class="toolbar--right">
        <a (click)="closePopup()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      {{error}}
    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>


<!-- [ngClass]="{'visible':congratShown,'invisible':!congratShown}" -->
<div [ngClass]="{'visible':congratShown,'invisible':!congratShown}" class="popup regular visible" id="congrats-box">
  <div class="popup__content">
    <!-- <div class="popup__content--toolbar">
        <div class="toolbar--left">Error !</div>
        <div class="toolbar--right">
          <a (click)="closeCongratPopup()" class="closebtn">
            <span class="fa fa-times"></span>
          </a>
        </div>
      </div> -->
    <div class="popup__content--body">
      <div class="top">Congratulations</div>
      <div class="body">{{congratMsg}}</div>
    </div>
    <div class="popup__content--footer">
      <button (click)="closeCongratPopup()">Ok</button>
    </div>
  </div>
</div>




<app-payment-dialog [amount]="selectedAmount" [stakeType]="'Scholarship'"
  [username]="authService.currentUser.firstName +' '+ authService.currentUser.lastName" [txRef]="this.raveOptions.txref"
  *ngIf="customPaymentDialogShown && this.raveOptions" (close)="closePaymentDialog()"
  (oncongratmessage)="showCongratulatoryMessage($event)"></app-payment-dialog>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157438990-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-157438990-1');
</script>
