<app-busy class="invisible" [ngClass]="{'visible':loading,'invisible':!loading}"></app-busy>

<div class="scholarship-bg"></div>
<app-header></app-header>
<div class="scholarship-body">
  <div class="scholarship-body__content">
    <div class="scholarship-body__content--header">

      <div class="scholarship-body__content--headerleft">
        <div class="info-card participants">
          <div class="info-card__head">Current Participants</div>
          <div class="info-card__body">
            <!-- *ngFor="let key of ObjectKeys(winnings)"  -->
            <div class="winner-group">
              <!-- <div class="winner-group__header">
                Today
              </div> -->
              <!-- *ngFor="let winner of winnings[key]" -->
              <div *ngFor="let participant of signalRservice.scholarshipParticipants" class="winner-item">
                <div class="winner-item__description">
                  <span class="winner-name">{{participant.userName}}</span>
                  <span class="winning-details">
                    <span class="amount-won"> staked <span class="period"> </span>GH₵
                      {{participant.amountStaked}}</span>
                    <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="info-card__footer">{{signalRservice.potentialScholarshipWinnersCount}} potential winner<span *ngIf="signalRservice.potentialScholarshipWinnersCount != 1">s</span></div>
        </div>
      </div>

      <div class="scholarship-body__content--headercenter">
        <!-- && scholarshipSeconds>=0 -->
        <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async) && scholarshipSeconds>=0 "
          class="countdown">
          <div class="header">Next scholarship Draw In</div>
          <div class="counters">
            <!-- <div class="ctd">{{scholarshipDays}} <span>Days</span></div> -->
            <div class="ctd">{{scholarshipDays}} <span>Days</span></div>
            <div class="ctd">{{scholarshipHours}} <span>Hours</span></div>
            <div class="ctd">{{scholarshipMinutes}} <span>Minutes</span></div>
            <div class="ctd">{{scholarshipSeconds}} <span>Seconds</span></div>
          </div>
        </div>

        <div *ngIf="(winnerSelectionService.isQuaterlyDrawOngoing | async)" class="ongoingdraw">
          <div class="header">Scholarship Draw is ongoing</div>
          <div class="drawbox">
            <div class="lds-hourglass loader"></div>
            <div class="participants info-card">
              <div class="info-card__body">
                <div class="winner-group">
                  <div *ngFor="let participant of signalRservice.scholarshipParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async) && winnerSelectionService.currentScholarshipWinners" class="winnerbox">
            <div class="title">Latest Scholarship Winners</div>
            <div class="body">
              <div *ngFor="let winner of winnerSelectionService.currentScholarshipWinners" class="winner">
                <span>{{winner.userName}}</span>
              </div>
            </div>
          </div>

        <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async)" class="stake-box">
          <div class="stake-box__header">
            <div class="text">Ntoboa scholarship</div>
          </div>
          <!-- <input type="checkbox" id="stakeboxcontroller"> -->
          <div class="stake-box__body">
            <!-- <div class="stake-box__body__info">
              <div class="content">
                The first scholarship lottery of its kind. Its very easy to win this amazing jackpot.
                Every quater of a year, a lucky student is selected to win this once in a lifetime jackpot.
              </div>
              <div class="footer">
                <label for="stakeboxcontroller" class="btn btn-info i-want">I Want to play the Jackpot</label>
              </div>
            </div> -->
            <div class="stake-box__body__staker">
              <div class="content">
                <form class="stake-form" [formGroup]="scholarshipForm">
                  <div class="form-group">
                    <label for="exampleInputInstitution">Which institution do you belong to</label>
                    <input type="text" class="form-control" id="exampleInputInstitution" formControlName="Institution"
                      aria-describedby="InstitutionHelp" placeholder="Enter Institution">
                    <small *ngIf="!scholarshipForm.get('Institution').valid && scholarshipForm.touched"
                      class="form-text text-danger">The institution name is required !!</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputProgram">Which program do you offer</label>
                    <input type="text" class="form-control" id="exampleInputProgram" aria-describedby="ProgramHelp"
                      placeholder="Enter Program" formControlName="Program">
                    <small *ngIf="!scholarshipForm.get('Program').valid && scholarshipForm.touched"
                      class="form-text text-danger">Your offered program is required !!</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputStudentId">What is your student Id number</label>
                    <input type="text" class="form-control" id="exampleInputStudentId" aria-describedby="StudentIdHelp"
                      placeholder="Enter Student Id" formControlName="StudentId">
                    <small *ngIf="!scholarshipForm.get('StudentId').valid && scholarshipForm.touched"
                      class="form-text text-danger">Your student id is required !!</small>
                  </div>
                </form>
              </div>
              <div class="footer">
                <!-- <label for="stakeboxcontroller" class="btn btn-info i-resign">Resign</label> -->
                <!-- (click)="pay()" -->
                <button angular-rave [raveOptions]="raveOptions" class="btn btn-primary i-play"
                  (mouseover)="setRaveOptions()" (callback)="scholarshipPaymentCallback($event)"
                  (close)="paymentFailed()" (init)="paymentInitialized()">Play for <span class="pay-amt">₵100</span>
                </button>
              </div>
            </div>
          </div>

        </div>

       
      </div>

      <div class="scholarship-body__content--headerright">
        <div class="info-card winnerscard">
          <div class="info-card__head">Past Winners</div>
          <div class="info-card__body">
            <div *ngIf="winnerSelectionService.groupedScholarshipWinners">
              <div *ngFor="let key of ObjectKeys(winnerSelectionService.groupedScholarshipWinners)"
                class="winner-group">
                <div class="winner-group__header">
                  {{key}}
                </div>
                <div *ngFor="let winner of winnerSelectionService.groupedScholarshipWinners[key]" class="winner-item">
                  <div class="winner-item__description">
                    <span class="winner-name">{{winner.userName}}</span>
                    <span *ngIf="winner.amountToWin" class="winning-details">
                      <span class="amount-won"> Won <span class="period"> </span>GH₵
                        {{winner.amountToWin}}</span>
                      <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="scholarship-body__content--details">
      <div class="tab-box">
        <ul class="nav nav-tabs">
          <li class="nav-item active">
            <a class="nav-link active" href="#how" role="tab" data-toggle="tab">How To Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#where" role="tab" data-toggle="tab">The Must Knows</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in show active" id="how">
            <div class="panel" style="background-color: orange;color:black">
              <div class="number">1</div>
              <div class="text">Enter the name of your Institution, e.g. "University of Mines and Technology", program of study and your student Id </div>
            </div>
            <div class="panel" style="background-color: #f06292">
              <div class="number">2</div>
              <div class="text">Press the "Play" button to proceed to payment</div>
            </div>
            <div class="panel" style="background-color: #01c851">
              <div class="number">3</div>
              <div class="text">Choose mode of payment, enter details and click "continue"</div>
            </div>
            <div class="panel" style="background-color: #7383a7">
              <div class="number">4</div>
              <div class="text">Follow the displayed guideline to complete the stake process</div>
            </div>
            <div class="panel" style="background-color: #a563c7">
              <div class="number">5</div>
              <div class="text">Winners would be announced at the end of the draw.</div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="where">
            <div class="panel" style="background-color: rgb(138, 112, 63)">
              <div class="number">*</div>
              <div class="text">Scholarship Winners are announced every three months.</div>
            </div>
            <div class="panel" style="background-color: #9aa349">
              <div class="number">*</div>
              <div class="text">Winners would be paid via stated payment reception method. eg. mobile money or bank account</div>
            </div>
            <div class="panel" style="background-color: #399191">
              <div class="number">*</div>
              <div class="text">Staked Amount is non refundable</div>
            </div>
            <div class="panel" style="background-color: #324675">
              <div class="number">*</div>
              <div class="text">Scholarship contributions only have a single stake value which is GH₵ 100</div>
            </div>
            <div class="panel" style="background-color: #02b111">
              <div class="number">*</div>
              <div class="text">NB: Participants should be students of academic institutions.</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [ngClass]="{'visible':errorShown,'invisible':!errorShown}" -->
<div class="popup regular" id="error-box">
  <div class="popup__content">
    <div class="popup__content--toolbar">
      <div class="toolbar--left">Error !</div>
      <div class="toolbar--right">
        <a (click)="closePopup()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      {{error}}
    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>

<app-faq></app-faq>