<section>
  <app-header></app-header>

  <div class="business">
    <div class="bg-section d-table w-100" style="background: url('../../assets/images/business.jpg');">
      <div class="container">
        <div class="row position-relative align-items-center pt-4">
          <div class="col-lg-6">
            <div class="title-heading rounded bg-white shadow mt-5">
              <h1 class="heading mb-3">Business Funds</h1>
              <p class="para-desc text-muted">Through our innovative approach,
                we make it possible for businesses to raise enough funds</p>
              <div class="mt-4">
                <a routerLink="/business/get-started" class="btn btn-primary mt-2 mr-2">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container dt_section">
      <div class="row justify-content-center sc_section">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">Beautiful & Creative Interfaces</h4>
            <p class="text-muted para-desc mb-0 mx-auto">Funds from the Business Solution serve as a source of resources
              for
              any small and medium scale businesses looking to make a name for itself in its respective marketplace.</p>
          </div>
        </div>
      </div>

      <div class="mt-100 mt-60 ">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-5">
            <div class="position-relative">
              <img src="../../assets/images/bius-side.jpg" class="rounded img-fluid mx-auto d-block" alt="">
            </div>
          </div>
          <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
            <div class="section-title ml-lg-4">
              <h4 class="title mb-4">Startup Business Solution</h4>
              <p class="text-muted">What are the key benefits of the business solution?</p>
              <ul class="list-unstyled text-muted">
                <li class="mb-0"><span class="text-primary h5 mr-2">
                    <mat-icon>navigate_next</mat-icon>
                  </span>Easy and quick access to funds</li>
                <li class="mb-0"><span class="text-primary h5 mr-2">
                    <mat-icon>navigate_next</mat-icon>
                  </span>It gives you financial freedom.</li>
                <li class="mb-0"><span class="text-primary h5 mr-2">
                    <mat-icon>navigate_next</mat-icon>
                  </span>Reach business goal in a short time</li>
              </ul>
              <a routerLink="/business/get-started" class="btn btn-primary mt-3">Get Started</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
