<div class="containerbox">
  <h1 style="color:black">Change Your Password</h1>
  <div *ngIf="!isSuccessful;else content2" class="content1">
    <div style="color:black" class="text">Enter your new account password below. Once confirmed, you'll be logged into your account and your new password will be active</div>
    <div class="c-input">
      <input required #password type="password" placeholder="New Password">
    </div>
    <div class="c-input">
      <input required #confirmpassword type="password" placeholder="Confirm Password">
    </div>
    <div class="e-message">{{errorMessage}}</div>
    <button *ngIf="!isbuttonHidden" class="btn btn-primary" (click)="ResetPassword()">Change My Password</button>
  </div>
  <ng-template #content2>
    <div class="content2">
      <h2 style="color:black">Your password has been changed, and you have been logged into your account. You will be redirected back to the site in 5 seconds.</h2>
      <!-- <a class="btn btn-primary" routerLink="../login">OK</a> -->
    </div>
  </ng-template>
</div>
