<app-header></app-header>
<div class="h-body">
  <div class="h-top">
    <div *ngIf="luckyMeSeconds>=0" class="countdown">
      <div class="header">Next LuckyMe Draw In</div>
      <div class="counters">
        <!-- <div class="ctd">{{luckyMeDays}} <span>Days</span></div> -->
        <div class="ctd">{{luckyMeHours}} <span>Hours</span></div>
        <div class="ctd">{{luckyMeMinutes}} <span>Minutes</span></div>
        <div class="ctd">{{luckyMeSeconds}} <span>Seconds</span></div>
      </div>
    </div>
    <div class="h-top__link-cards">
      <a routerLink="luckyme" class="link-card">
        <div class="link-card__head">
          <svg class="linkicon icon icon-mid">
            <use href="assets/Icons/svgs.svg#icon-moneybag" />
          </svg>
          <div class="text">LuckyMe</div>
        </div>
        <div class="link-card__bottom">
          <div class="cover-text">Ntoboafund offers huge jackpot prizes that you can easily win when you contribute.
            Invest
            online safely and securely with Ntoboafund.
          </div>
          <div class="Invest-btn">Visit</div>
        </div>
      </a>
      <a routerLink="business" class="link-card">
        <div class="link-card__head">
          <svg class="linkicon icon icon-mid">
            <use href="assets/Icons/svgs.svg#icon-handshake-o" />
          </svg>
          <div class="text">Business</div>
        </div>
        <div class="link-card__bottom">
          <div class="cover-text">Ntoboafund gives you an opportunity to fund your business. Fund that business idea now
            by investing with us.
          </div>
          <div class="Invest-btn">Visit</div>
        </div>
      </a>
      <a routerLink="scholarship" class="link-card">
        <div class="link-card__head">
          <svg class="linkicon icon icon-mid">
            <use href="assets/Icons/svgs.svg#icon-study" />
          </svg>
          <div class="text">Scholarship</div>
        </div>
        <div class="link-card__bottom">
          <div class="cover-text">You can win a scholarship with Ntoboafund by investing with as low as 10 cedis. With
            Ntoboafund you can start schooling today.
          </div>
          <div class="Invest-btn">Visit</div>
        </div>
      </a>


      <!-- <a href="#" class="link-card">
        <div class="link-card__head">
          <svg class="linkicon icon icon-mid">
            <use href="assets/Icons/svgs.svg#icon-umbrella" />
          </svg>
          <div class="text">Insurance</div>
        </div>
        <div class="link-card__bottom">
          <div class="cover-text">Ntoboafund gives you an assurance for any future occurrence. With just investing a amount as little as 10cedis you can be insured.
          </div>
          <div class="Invest-btn">Visit</div>
        </div>
      </a> -->

    </div>
    <div class="info-pane">
      <div class="ancment-cards">
        <div class="first">
          <div class="ancment-card">
            <div class="ancment-card__head">
              <svg class="ancmenticon icon icon-mid">
                <use href="assets/Icons/svgs.svg#icon-dollar" />
              </svg>
              <div class="text">Prizes Paid</div>
            </div>
            <div class="ancment-card__bottom">
              <div style="font-size: 2rem;color:black;font-weight:bolder;" class="maxprizes">GH₵ 220,000</div>
              <div class="cover-text">With Ntoboafund, the more you contribute the better your chances of winning BIG!.
              </div>
              <!-- <div class="action-btn">Read More &rarr;</div> -->
            </div>
          </div>
          <div class="ancment-card">
            <div class="ancment-card__head">
              <svg class="ancmenticon icon icon-mid">
                <use href="assets/Icons/svgs.svg#icon-smiley" />
              </svg>
              <div class="text">Convenience</div>
            </div>
            <div class="ancment-card__bottom">
              <div class="cover-text">
                Ntoboafund is easy to use as it supports card and mobile money payments accross the globe.
              </div>
              <!-- <div class="action-btn">Read More</div> -->
            </div>
          </div>
          <div class="ancment-card">
            <div class="ancment-card__head">
              <svg class="ancmenticon icon icon-mid">
                <use href="assets/Icons/svgs.svg#icon-hourglass" />
              </svg>
              <div class="text">Guarantee</div>
            </div>
            <div class="ancment-card__bottom">
              <div class="cover-text">
                We've partnered with reputable organizations, your funds are safe.
              </div>
              <!-- <div class="action-btn">Read More</div> -->
            </div>
          </div>

        </div>
        <div class="second">
          <div class="ancment-card">
            <div class="ancment-card__head">
              <svg class="ancmenticon icon icon-mid">
                <use href="assets/Icons/svgs.svg#icon-lock" />
              </svg>
              <div class="text">Security</div>
            </div>
            <div class="ancment-card__bottom">
              <div class="cover-text">Ntoboafund ensures that data of all clients are safe and protected.
              </div>
              <!-- <div class="action-btn">Read More &rarr;</div> -->
            </div>
          </div>
          <div class="ancment-card">
            <div class="ancment-card__head">
              <svg class="ancmenticon icon icon-mid">
                <use href="assets/Icons/svgs.svg#icon-support" />
              </svg>
              <div class="text">Customer Support</div>
            </div>
            <div class="ancment-card__bottom">
              <div class="cover-text">Kindly contact customer care for any assistance or support.
              </div>
              <!-- <div class="action-btn">Visit</div> -->
            </div>
          </div>
        </div>

      </div>
      <div class="info-card">
        <div class="info-card__head">
          <div class="info-card__head--icon">
            <img src="assets/images/trophy.png" alt="">
          </div>
          <div class="info-card__head--text">Latest Winners</div>
        </div>
        <div class="info-card__body">
          <div *ngIf="winnings">
            <div *ngFor="let key of ObjectKeys(winnings)" class="winner-group">
              <div class="winner-group__header">
                {{key}}
              </div>
              <div *ngFor="let winner of winnings[key]" class="winner-item">
                <div class="winner-item__description">
                  <span class="winner-name">{{winner.userName}}</span>
                  <span class="winning-details">
                    <!-- <span class="period"> {{winner.period}} </span> -->
                    <span class="amount-won"> Won GH₵
                      {{winner.amountToWin}}</span>
                    <span class="amount-staked"> with GH₵ {{winner.amountStaked}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-bottom">


  </div>
</div>
<div class="bg"></div>
<app-faq></app-faq>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6721552.js"></script>
<!-- End of HubSpot Embed Code -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157438990-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-157438990-1');
</script>
