<section>

  <app-header></app-header>

  <div class="crowdfund">
    <div class="banner-item">

      <div class="container banner-content">
        <!-- <p class="banner-title">Crowdfund Your Business With Us</p> -->
        <mat-card class="banner_card">
          <span class="title-tl">Raise more money from donors.</span>
          <p class="title-desc">Reach, engage, and mobilize your community with the Ghana's leading digital
            fundraising
            platform for crowdfunding</p>
          <button mat-raised-button color="accent" routerLink="/add-crowdfunding" class="mr-2 add_btn">Add
            Crowdfund</button>
          <button mat-stroked-button color="primary" routerLink='/crowds'>View Crowdfunds</button>
        </mat-card>
      </div>
    </div>

    <div class="choose-use container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
          <div class="features">
            <div class="image position-relative d-inline-block">
              <img src="../../assets/Icons/credit-card.svg" class="avatar avatar-small" alt="">
            </div>

            <div class="content mt-4">
              <h4 class="title-2">Create</h4>
              <p class="text-muted">You can create a great fundraiser by yourself. But if you have a team, invite team
                members to have their own page and
                rally.</p>
              <a href="javascript:void(0)" class="text-success">Read more <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
          <div class="features">
            <div class="image position-relative d-inline-block">
              <img src="../../assets/Icons/writing.svg" class="avatar avatar-small" alt="">
            </div>

            <div class="content mt-4">
              <h4 class="title-2">Share</h4>
              <p class="text-muted">With best-in-class “one-click” sharing to Facebook, Twitter, LinkedIn, Messenger,
                WhatsApp, text and email, it’s
                effortless to keep your community informed and inspired to give.</p>
              <a href="javascript:void(0)" class="text-success">Read more <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-5 pt-3">
          <div class="features">
            <div class="image position-relative d-inline-block">
              <img src="../../assets/Icons/stairs.svg" class="avatar avatar-small" alt="">
            </div>

            <div class="content mt-4">
              <h4 class="title-2">Engage</h4>
              <p class="text-muted">With enterprise-class online fundraising and crowdfunding capabilities, nonprofits,
                professional teams, and fundraisers
                have the powerful tools they need to run and effectively manage various types of campaigns</p>
              <a href="javascript:void(0)" class="text-success">Read more <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container pt-3 featured">

      <h2 class="text-black h1 site-section-heading text-center">Featured CrowdFund</h2>

      <div class="row" *ngIf="crowdFund;else spinner">
        <div class="col-lg-4 pb-4" *ngFor="let crowd of crowdFund" routerLink="/crowdfunding/{{crowd.id}}">
          <mat-card>
            <img mat-card-image [src]="urlLink + crowd.mainImageUrl">
            <mat-card-content>
              <span class="font-weight-bold">Title</span>
              <p>{{crowd.title}}</p>
              <br>
              <span class="font-weight-bold">Description</span>
              <div class="crowd_description">
                <div [innerHTML]="crowd.description"></div>
              </div>
              <hr>
              <div class="contributed">
                <span class="text-info">{{crowd.totalAmountRecieved |currency:'GH¢'}} Contributed</span>
                <p>
                  <ngb-progressbar type="info" [value]="(crowd.totalAmountRecieved / crowd.totalAmount) * 100">
                  </ngb-progressbar>
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- <div class="col-lg-4 pb-4" routerLink="/crowdfunding/1">
          <mat-card>
            <img mat-card-image
              src="https://images.gofundme.com/dfXRmIu9AbgTq_f_OXkUalXX_fA=/720x405/https://d2g8igdw686xgo.cloudfront.net/57329171_1622136604154854_r.jpeg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <span class="font-weight-bold">Title</span>
              <p>Vegan Doughnut Company Support</p>
              <br>
              <span class="font-weight-bold">Description</span>
              <p>On Wednesday, May 26, 2021, we were made aware that the beloved mother of business owners Kharisma and
                Kyra Mayo,
                unexpectedly passed away. Kharisma and Kyra are the young owners of the beloved The Vegan Doughnut
                Company here in
                Cleveland, Ohio...</p>
              <hr>
              <span class="text-info">55% Funds Contributed</span>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 55%" aria-valuenow="55"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 pb-4" routerLink="/crowdfunding/1">
          <mat-card>
            <img mat-card-image src="https://d2g8igdw686xgo.cloudfront.net/57376087_1622382657637080_r.jpeg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <span class="font-weight-bold">Title</span>
              <p>Help Re-Open Family Billiards</p>
              <br>
              <span class="font-weight-bold">Description</span>
              <p>Hi Friends, we hope you have all been safe and are doing well in light of recent events. Unfortunately,
                due to the
                Covid-19 pandemic, Family Billiards was forced to temporarily close in March of 2020 and although it has
                not been an
                easy journey coping through the last...</p>
              <hr>
              <span class="text-info">5% Funds Contributed</span>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="5"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </mat-card-content>
          </mat-card>
        </div> -->
      </div>

      <div class="text-center mt-5">
        <a routerLink="/crowds" class="boxed-btn">Browse All CrowdFunds</a>
      </div>

      <ng-template #spinner>
        <app-spinner></app-spinner>
      </ng-template>
    </div>

    <div class="container">
      <div class="section border-top">
        <div class="container">
          <div class="card rounded shadow border-0 bg-light overflow-hidden">
            <div class="row no-gutters align-items-center">
              <div class="col-lg-6">
                <img src="../../assets/images/covid-800x800.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <div class="card-body section-title p-md-5">
                  <h4 class="title mb-4">Success Story</h4>
                  <p class="text-muted para-desc mb-0">As COVID-19 continues to spread, more individuals, communities,
                    and entire nations are feeling the impact in their daily
                    lives. Beyond the global health crisis, the coronavirus is having a severe economic impact on
                    individuals, small
                    businesses, and medical organizations.

                    The urgent need for medical supplies, basic necessities, and quality healthcare is only increasing
                    as more communities
                    become affected by COVID-19. And with hundreds of thousands of individuals across the globe in
                    quarantine, there is a
                    growing need for financial support.
                  </p>
                  <div class="mt-4 pt-2">
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Read More <i
                        class="mdi mdi-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
