<div class="adscholarship-body">
  <div class="adscholarship-body__top">
    <select (change)="getScholarshipsByType($event.target.value)" class="form-control" id="cbotypeOptions">
      <option value="all">All</option>
      <option value="0">Original</option>
      <option value="2">Dummy</option>
    </select>
  </div>
  <div class="adscholarship-body__bottom">
    <div class="adscholarship-body__bottom--left">
      <div  class="info-card" id="allScholarship">

        <div class="info-card__head">
          <div class="btn-refresh"><a (click)="refresh()" routerLink="./">refresh</a></div>
          <div class="info-card__head--text1">Recent Scholarship Stakes</div>
          <select (change)="filterStaker($event.target.value)" class="form-control" id="cboOptions">
            <option value="all">All</option>
            <option value="paid">Current Participants</option>
            <option value="lost">Lost</option>
            <option value="won">Pending Payment</option>
          </select>
        </div>
        <div *ngIf="scholarshipService.allScholarships.length >0" class="info-card__body">
          <div *ngFor="let scholarship of recentScholarshipStakes" class="recent-stake-item-holder">
            <input type="radio" name="selectedScholarship" (change)="changeSelectedScholarship(scholarship.id)"
              [id]="scholarship.id">
            <label [for]="scholarship.id" class="recent-stake-item">
              <div class="recent-stake-item--top">
                <div class="period">{{scholarship.period}}</div>
                <div class="amount">GHS {{scholarship.amount}}</div>
                <div class="date"> {{scholarship.date}} </div>
              </div>
              <div class="recent-stake-item--bottom">
                <div class="status">Status : {{scholarship.status}}</div>
                <div *ngIf="scholarship.isWinner" class="amount-won">To Win GHS {{scholarship.amountToWin}}</div>
                <div *ngIf="!scholarship.isWinner" class="potential-returns">Potential Winning : GHS 2000</div>
              </div>
            </label>
          </div>

        </div>
      </div>

      <div class="info-card details">
        <div class="info-card__head">Details</div>
        <div class="info-card__body">
          <div *ngIf="selectedscholarship" class="scholarship-details">
            <div class="record">
              <div class="label">Date</div>
              <div class="text">{{selectedscholarship.date}}</div>
            </div>
            <div class="record">
              <div class="label">Amount</div>
              <div class="text">{{selectedscholarship.amount}}</div>
            </div>
            <div class="record">
              <div class="label">Period</div>
              <div class="text">{{selectedscholarship.period}}</div>
            </div>
            <div class="record">
              <div class="label">Status</div>
              <div class="text">{{selectedscholarship.status}}</div>
            </div>
          </div>
          <div *ngIf="selectedscholarship && selectedscholarship.user" class="scholarship-userdetails">
            <div class="record">
              <div class="label">Email</div>
              <div class="text">{{selectedscholarship.user.email}}</div>
            </div>
            <div class="record">
              <div class="label">Phone Number</div>
              <div class="text">{{selectedscholarship.user.phoneNumber}}</div>
            </div>
            <div class="record">
              <div class="label">Name</div>
              <div class="text">{{selectedscholarship.user.firstName}} {{selectedscholarship.user.lastName}}</div>
            </div>

          </div>
          <div *ngIf="selectedscholarship" class="payment-details">
              <div [ngStyle]="{'background-color':selectedscholarship.status == 'won' ? 'green' : 'red'}" class="status">{{selectedscholarship.status}}</div>
              <div *ngIf="selectedscholarship.user.preferedMoneyReceptionMethod == 'momo'" class="momo">
                <div class="record">
                  <div class="label">Selected Payment Method</div>
                  <div class="text">{{selectedscholarship.user.preferedMoneyReceptionMethod}}</div>
                </div>
                <div class="record">
                  <div class="label">Number</div>
                  <div *ngIf="selectedscholarship.user.momoDetails" class="text">{{selectedscholarship.user.momoDetails.number}}
                  </div>
                </div>
                <div class="record">
                  <div class="label">Network</div>
                  <div *ngIf="selectedscholarship.user.momoDetails" class="text">{{selectedscholarship.user.momoDetails.network}}
                  </div>
                </div>
                <div class="record">
                  <div class="label">Country</div>
                  <div *ngIf="selectedscholarship.user.momoDetails" class="text">{{selectedscholarship.user.momoDetails.country}}
                  </div>
                </div>
                <div class="record">
                  <div class="label">Currency</div>
                  <div *ngIf="selectedscholarship.user.momoDetails" class="text">{{selectedscholarship.user.momoDetails.currency}}
                  </div>
                </div>
                <div *ngIf="selectedscholarship.status == 'won'" class="record transactionpane">
                  <div class="form-group">
                    <label>Pay User and Enter Transaction Id</label>
                    <input type="text" class="form-control"
                      placeholder="Enter Transaction Id">
                    <small *ngIf="false"
                      class="form-text text-danger">Please enter the transaction Id</small>
                  </div>
                  <div class="btn btn-info">User Paid</div>
                </div>
  
  
  
              </div>
  
              <div *ngIf="selectedscholarship.user.preferedMoneyReceptionMethod == 'bank'" class="bank">
                <div class="record">
                  <div class="label">Selected Payment Method</div>
                  <div class="text">{{selectedscholarship.user.preferedMoneyReceptionMethod}}</div>
                </div>
                <div class="record">
                  <div class="label">Bank Name</div>
                  <div *ngIf="selectedscholarship.user.bankDetails" class="text">{{selectedscholarship.user.bankDetails.bankName}}
                  </div>
                </div>
                <div class="record">
                  <div class="label">Account Number</div>
                  <div *ngIf="selectedscholarship.user.bankDetails" class="text">
                    {{selectedscholarship.user.bankDetails?.acountNumber}}</div>
                </div>
                <div class="record">
                  <div class="label">Swift Code</div>
                  <div *ngIf="selectedscholarship.user.bankDetails" class="text">
                    {{selectedscholarship.user.bankDetails.swiftCode}}</div>
                </div>
                <div *ngIf="selectedbusiness.status == 'won'" class="record transactionpane">
                    <div class="form-group">
                      <label>Pay User and Enter Transaction Id</label>
                      <input type="text" class="form-control" placeholder="Enter Transaction Id">
                      <small *ngIf="false" class="form-text text-danger">Please enter the transaction Id</small>
                    </div>
                    <div class="btn btn-info">User Paid</div>
                  </div>
  
              </div>
            </div>
        </div>
      </div>

    </div>
    <div class="adscholarship-body__bottom--right">
      <div class="info-card participants">
        <div class="info-card__head">Current Participants</div>
        <div class="info-card__body">
          <div class="winner-group">
            <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async) && winnerSelectionService.currentScholarshipWinners" class="winnerbox">
              <div class="title">Latest Scholarship Winners</div>
              <div class="body">
                <div *ngFor="let winner of winnerSelectionService.currentScholarshipWinners" class="winner">
                  <span>{{winner.userName}}</span>
                </div>
              </div>
            </div>
  
            <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async)" class="winner-group">
              <div *ngFor="let participant of signalRService.scholarshipParticipants" class="winner-item">
                <div class="winner-item__description">
                  <span class="winner-name">{{participant.userName}}</span>
                  <span class="winning-details">
                    <span class="amount-won"> staked <span class="period"> </span>GH₵
                      {{participant.amountStaked}}</span>
                    <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                  </span>
                  <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                </div>
              </div>
            </div>

            <div *ngIf="(winnerSelectionService.isQuaterlyDrawOngoing | async)" class="ongoingdraw">
              <div class="header">Business Draw is ongoing</div>
              <div class="drawbox">
                <div class="lds-hourglass loader"></div>
                <div class="participants info-card">
                  <div class="info-card__body">
                    <div class="winner-group">
                      <div *ngFor="let participant of signalRService.scholarshipParticipants" class="winner-item">
                        <div class="winner-item__description">
                          <span class="winner-name">{{participant.userName}}</span>
                          <span class="winning-details">
                            <span class="amount-won"> staked <span class="period"> </span>GH₵
                              {{participant.amountStaked}}</span>
                          </span>
                          <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async)"
              class="fixed-pane">
              <button (click)="insertDummy()" class="btn btn-danger">Insert Dummy</button>
              <!-- <div class="fixed-participant">Fixed - </div> -->
              <button (click)="showFixerBox()" class="btn btn-danger btn-fix">Fix</button>
            </div>
          </div>
        </div>
      </div>

      <div class="info-card winnerscard">
        <div class="info-card__head">Past Winners</div>
        <div class="info-card__body">
          <!-- *ngFor="let key of ObjectKeys(winnings)"  -->
          <div class="winner-group">
            <!-- <div class="winner-group__header">
                </div> -->
            <!-- *ngFor="let winner of winnings[key]" -->
            <div *ngFor="let winner of winnerSelectionService.scholarshipWinners" class="winner-item">
              <div class="winner-item__description">
                <span class="winner-name">{{winner.userName}}</span>
                <span class="winning-details">
                  <span class="amount-won"> Won <span class="period"> </span>GH₵
                    {{winner.amountToWin}}</span>
                  <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div [ngClass]="{'visible':fixerBoxShown,'invisible':!fixerBoxShown}" class="popup regular" id="fixer-box">
  <div class="popup__content">
    <div class="popup__content--toolbar">
      <div class="toolbar--left">Fix Scholarship Winner</div>
      <div class="toolbar--right">
        <a (click)="closeFixerBox()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      <div class="participants">
        <div [ngClass]="{selected:participant.status == 'wins'}" *ngFor="let participant of participantsToFix"
          class="particpants-item-holder">
          <!-- <input type="radio" name="fixeddailyluckyme" (change)="changeSelectedLuckyme(participant.id)" [id]="participant.id"> -->
          <label [for]="participant.id" class="winner-item">
            <div class="winner-item__description">
              <span class="winner-name">{{participant.userName}}</span>
              <span class="winning-details">
                <span class="amount-won"> staked <span class="period"> </span>GH₵
                  {{participant.amountStaked}}</span>
                <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
              </span>
            </div>
          </label>
          <button *ngIf="participant.status != 'wins'" (click)="fixWinner(participant.id)"
            class="btn btn-primary">Fix</button>
          <button *ngIf="participant.status == 'wins'" (click)="unFixWinner(participant.id)"
            class="btn btn-danger">UnFix</button>
        </div>
      </div>
    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>