@mixin setScrollbarVisibility($visibility) {
    
  &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: transparent;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
      border: none;
  }
  @if($visibility == 'hidden'){
      &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: linear-gradient(to left, transparent, transparent);
          border: none;
      }
  
      &::-webkit-scrollbar-thumb:hover {
          background:transparent;
      }
  
      &::-webkit-scrollbar-thumb:active {
          background: linear-gradient(to left, transparent, transparent);
      }
  }@else{
      ::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: linear-gradient(to left, #fff, #e4e4e4);
          border: 1px solid #aaa;
        }
        
        ::-webkit-scrollbar-thumb:hover {
          background: #fff;
        }
        
        ::-webkit-scrollbar-thumb:active {
          background: linear-gradient(to left, grey, rgba(grey, 0.8));
        }
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin floatAndCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin clearfix {
  content: "";
  clear: both;
  display: table;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin roundImage($color: var(--dark), $radius: 7rem) {
  border: 0.2rem solid $color;
  padding: 0.2rem;
  border-radius: 50%;
  width: $radius;
  height: $radius;
  overflow: hidden;
  box-shadow: var(--primary-shadow);

  img {
    border-radius: 50%;
  }
}

@mixin underline($color: var(--dark), $direction: "center") {
  position: relative;
  text-align: #{$direction};
  margin-bottom: 1rem;
  &::after {
    position: absolute;
    content: "";
    top: calc(100% + .3rem);
    width: 10rem;
    height: 0.2rem;
    background-color: $color;
    @if $direction == "center" {
      left: 50%;
      transform: translateX(-50%);
    } @else if $direction == "left" {
      left: 0%;
    } @else if $direction == "right" {
      right: 0%;
    }
  }
}

@mixin pageSetup(){
  position: relative;
  top: 6rem;
  height: calc(100vh - 6rem);
  width: calc(100vw);
  overflow: auto;
  z-index: var(--level-three);
  overflow-x:hidden;
}


@mixin headerbox(){
  margin-top: 0rem;
  color: var(--light);
  //height: calc(100%);
  width: calc(100%);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    &__right {
      height: 40%;
      overflow: hidden;
    }
  }
  &__left {
    text-align: center;
    flex-grow: 1;
    overflow: hidden;
    transition: all 1s;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    .main-header {
      text-transform: uppercase;
      color: var(--game-blue);
      font-weight: bold;
      background-color: white;
      padding: 0.5rem 1rem;
      display: inline-block;
      box-shadow: var(--primary-shadow);
      text-shadow: var(--primary-shadow);
      animation: slideInLeft 1s ease-in-out 0s;
      margin: 2rem;
    }
    .sub-header {
      font-weight: bold;
      background-color: var(--game-blue);
      padding: 0.5rem 1rem;
      font-style: italic;
      font-family: monospace;
      width: 60%;
      //margin-left: 20%;
      font-family: "Aladin";

      animation: slideInRight 1s ease-in-out 0s;
    }
    a.invest-btn {
      display: inline-block;
      margin: 1rem 1rem 1rem 0rem;
      animation: slideInBottom 1s ease-in-out 0s;
      text-transform: uppercase;
    }
  }
  &__right {
    h6 {
      text-align: center;
      @include underline(var(--game-blue));
    }
    transition: all 1s;
    .scroll-view {
      animation: slideInRight 0.5s ease-in-out 0s;
      width: 33rem;
      flex: 0 0 33rem;
      //height: calc(50vh);

      overflow: auto;
    }
  }
}