<div class="adbusiness-body">
  <div class="adbusiness-body__top">
    <div class="adbusiness-body__top--left">
      <select [(ngModel)]="usersTypeFilterText" (change)="getBusinessesByType($event.target.value)" class="form-control"
        id="cbotypeOptions">
        <option value="all">All</option>
        <option value="0">Original</option>
        <option value="2">Dummy</option>
      </select>
    </div>
    <div class="adbusiness-body__top--right">
      <div [ngClass]="{disabled:unpdaidWinnersCount==0}" (click)="showUnpaidWinners()" class="unpaid badged">
        <span class="badge">{{unpdaidWinnersCount}}</span>
        <svg class="linkicon icon icon-mid">
          <use href="assets/Icons/svgs.svg#icon-wallet" />
        </svg>
      </div>
    </div>
  </div>
  <div class="adbusiness-body__bottom">
    <div class="adbusiness-body__bottom--left">
      <div class="info-card" id="allbusiness">
        <div class="info-card__head">
          <div class="info-card__head--left">
            <div class="btn-refresh">
              <a (click)="refresh()" routerLink="./">
                <svg class="linkicon icon icon-min">
                  <use href="assets/Icons/svgs.svg#icon-refresh" />
                </svg>
              </a>
            </div>
            <div class="info-card__head--text1">{{mainHeaderText}}</div>

            <select #cboPartType [(ngModel)]="filterText" (change)="changeParticipantTypeByStatus($event.target.value)"
              class="form-control" id="cboPartType">
              <option value="all">All</option>
              <option value="paid">Current Participants</option>
              <option value="lost">Lost</option>
              <option value="won">Unpaid Winners</option>
              <option value="completed">Paid Winners</option>
            </select>
          </div>
          <div class="info-card__head--right">
            <div class="btn-paywinner">
              <a [ngClass]="{disabled:!canUserBePaid}" class="badged" (click)="payWinner()" routerLink="./">
                <svg class="linkicon icon icon-mid">
                  <use href="assets/Icons/svgs.svg#icon-dollar" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="businessService.allBusinesses.length >0" class="info-card__body">

          <ag-grid-angular #agGrid style="height: 100%;" [rowSelection]="'single'" [rowMultiSelectWithClick]="true"
            (selectionChanged)="luckmeSelectionChanged(agGrid)" (gridReady)="onBusinessGridReady($event)"
            class="ag-theme-balham" [embedFullWidthRows]="true" [rowData]="recentBusinessStakes"
            [detailCellRenderer]="detailCellRenderer" [masterDetail]="true" [columnDefs]="businessColumnDefs"
            [modules]="businessModule" [detailRowHeight]="detailRowHeight" [frameworkComponents]="frameworkComponents"
            (firstDataRendered)="onFirstDataRendered($event)">
          </ag-grid-angular>
        </div>
      </div>



    </div>
    <div class="adbusiness-body__bottom--right">
      <div class="info-card participants">
        <div class="info-card__head">Current Participants</div>
        <div class="info-card__body">
          <div class="winner-group">
            <div
              *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async) && winnerSelectionService.currentBusinessWinners"
              class="winnerbox">
              <div class="title">Latest Business Winners</div>
              <div class="body">
                <div *ngFor="let winner of winnerSelectionService.currentBusinessWinners" class="winner">
                  <span>{{winner.userName}}</span>
                </div>
              </div>
            </div>

            <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async)" class="winner-group">
              <div *ngFor="let participant of signalRService.businessParticipants" class="winner-item">
                <div class="winner-item__description">
                  <span class="winner-name">{{participant.userName}}</span>
                  <span class="winning-details">
                    <span class="amount-won"> staked <span class="period"> </span>GH₵
                      {{participant.amountStaked}}</span>
                    <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                  </span>
                  <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                </div>
              </div>
            </div>

            <div *ngIf="(winnerSelectionService.isQuaterlyDrawOngoing | async)" class="ongoingdraw">
              <div class="header">Business Draw is ongoing</div>
              <div class="drawbox">
                <div class="lds-hourglass loader"></div>
                <div class="participants info-card">
                  <div class="info-card__body">
                    <div class="winner-group">
                      <div *ngFor="let participant of signalRService.businessParticipants" class="winner-item">
                        <div class="winner-item__description">
                          <span class="winner-name">{{participant.userName}}</span>
                          <span class="winning-details">
                            <span class="amount-won"> staked <span class="period"> </span>GH₵
                              {{participant.amountStaked}}</span>
                          </span>
                          <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!(winnerSelectionService.isQuaterlyDrawOngoing | async)" class="fixed-pane">
              <button (click)="insertDummy()" class="btn btn-danger">Insert Dummy</button>
              <!-- <div class="fixed-participant">Fixed - </div> -->
              <button (click)="showFixerBox()" class="btn btn-danger btn-fix">Fix</button>
            </div>
          </div>
        </div>
      </div>

      <div class="info-card winnerscard">
        <div class="info-card__head">Past Winners</div>
        <div class="info-card__body">
          <!-- *ngFor="let key of ObjectKeys(winnings)"  -->
          <div class="winner-group">
            <!-- <div class="winner-group__header">
                </div> -->
            <!-- *ngFor="let winner of winnings[key]" -->
            <div *ngFor="let winner of winnerSelectionService.businessWinners" class="winner-item">
              <div class="winner-item__description">
                <span class="winner-name">{{winner.userName}}</span>
                <span class="winning-details">
                  <span class="amount-won"> Won <span class="period"> </span>GH₵
                    {{winner.amountToWin}}</span>
                  <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div [ngClass]="{'visible':fixerBoxShown,'invisible':!fixerBoxShown}" class="popup regular" id="fixer-box">
  <div class="popup__content">
    <div class="popup__content--toolbar">
      <div class="toolbar--left">Fix {{selectedFixerPeriod}} Winner</div>
      <div class="toolbar--right">
        <a (click)="closeFixerBox()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      <div class="participants">
        <div [ngClass]="{selected:participant.status == 'wins'}" *ngFor="let participant of participantsToFix"
          class="particpants-item-holder">
          <!-- <input type="radio" name="fixeddailybusiness" (change)="changeSelectedBusiness(participant.id)" [id]="participant.id"> -->
          <label [for]="participant.id" class="winner-item">
            <div class="winner-item__description">
              <span class="winner-name">{{participant.userName}}</span>
              <span class="winning-details">
                <span class="amount-won"> staked <span class="period"> </span>GH₵
                  {{participant.amountStaked}}</span>
                <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
              </span>
            </div>
          </label>
          <button *ngIf="participant.status != 'wins'" (click)="fixWinner(participant.id)"
            class="btn btn-primary">Fix</button>
          <button *ngIf="participant.status == 'wins'" (click)="unFixWinner(participant.id)"
            class="btn btn-danger">UnFix</button>
        </div>
      </div>
    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>

<div [ngClass]="{'visible':paymentBoxShown,'invisible':!paymentBoxShown}" class="popup regular" id="payment-box">
  <div *ngIf="selectedbusiness" class="popup__content">
    <div class="popup__content--toolbar">
      <div *ngIf="selectedbusiness.user" class="toolbar--left">Pay {{selectedbusiness.user.firstName}}
        {{selectedbusiness.user.lastName}}</div>
      <div class="toolbar--right">
        <a (click)="closePaymentBox()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      <div *ngIf="!selectedbusiness.user" class="spinner">Spinning</div>
      <div *ngIf="selectedbusiness.user" class="payment-details">
        <div *ngIf="selectedbusiness.user.preferedMoneyReceptionMethod == 'momo'" class="data-container">
          <div class="data-container__header">
            <p class="htext">Momo Details</p>
          </div>
          <div class="data-container__body">
            <div class="data-container__body--left">
              <p>Country</p>
              <p>Network</p>
              <p>Number</p>
              <p>Currency</p>
              <p>Transfer Id</p>
            </div>
            <div *ngIf="selectedbusiness.user" class="data-container__body--right">
              <p>{{selectedbusiness.user.momoDetails.country}}</p>
              <p>{{selectedbusiness.user.momoDetails.network}}</p>
              <p>{{selectedbusiness.user.momoDetails.number}}</p>
              <p>{{selectedbusiness.user.momoDetails.currency}}</p>
              <p>{{selectedbusiness.transferId}}</p>
            </div>
          </div>
        </div>
        <div *ngIf="selectedbusiness.user.preferedMoneyReceptionMethod == 'bank'" class="data-container">
          <div class="data-container__header">
            <p class="htext">USER</p>
          </div>
          <div class="data-container__body">
            <div class="data-container__body--left">
              <p>Bank Name</p>
              <p>Account Number</p>
              <p>Swift Code</p>
              <p>Transfer Id</p>
            </div>
            <div *ngIf="selectedbusiness.user" class="data-container__body--right">
              <p>{{selectedbusiness.user.bankDetails.bankName}}</p>
              <p>{{selectedbusiness.user.bankDetails.accountNumber}}</p>
              <p>{{selectedbusiness.user.bankDetails.swiftCode}}</p>
              <p>{{selectedbusiness.transferId}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedbusiness.user" class="paymentform">
        <form *ngIf="selectedbusiness.user.userType==0" [formGroup]="paymentForm" (ngSubmit)="addPaymentRecord()">
          <div [ngClass]="{disabled:isPaymentInputsDisabled}" class="c-input">
            <input type="text" placeholder="Amount Paid" [formControlName]="'amount'" />
            <i class="c-addon fa fa-money"></i>
            <b *ngIf="!paymentForm.get('amount').valid && paymentForm.get('amount').touched" class="val-msg">
              <p>Amount Paid Is Required</p>
            </b>
          </div>
          <div [ngClass]="{disabled:isPaymentInputsDisabled}" class="c-input">
            <input type="text" placeholder="Transaction Id" [formControlName]="'transactionId'" />
            <i class="c-addon fa fa-lock"></i>
            <b *ngIf="!paymentForm.get('transactionId').valid && paymentForm.get('transactionId').touched"
              class="val-msg">
              <p>Transaction Id Is Required</p>
            </b>
          </div>
          <div class="actionpane">
            <button *ngIf="isPaymentInputsDisabled" (click)="isPaymentInputsDisabled = false" type="submit"
              class="btn btn-info">Edit</button>
            <p class="midpane">{{paymentRecordMessage}}</p>
            <button *ngIf="!isPaymentInputsDisabled && !isAddingPaymentRecord" type="submit"
              class="btn btn-secondary">Submit</button>
            <button *ngIf="!isPaymentInputsDisabled && isAddingPaymentRecord" class="btn btn-secondary">loading</button>
          </div>
        </form>
        <h4 *ngIf="selectedbusiness.user.userType==2">Cannot Pay A Dummy Winner</h4>
      </div>

    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>