/* You can add global styles to this file, and also import other style files */
//Css Resets

//abstract
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

//base
@import "base/base";
@import "base/utilities";
@import "base/typography";
@import "base/animations";

//components
@import "components/button";
@import "components/c-inputs";
@import "components/svgs";
@import "components/tooltip";
@import "components/popup";
@import "components/info-card";
@import "components/recentsbox";
@import "components/_countdown";
@import "components/loaders";
@import "components/panel";
@import "components/ongoingdraw";
@import "components/winnerbox";
@import "components/record";
@import "components/message";
@import "components/flatradiobtns";


footer{
  position: fixed;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 1000;
  bottom: 0;
  height: 3.5rem;
  font-size: 1.3rem;
  .legal-stuff{
    display: flex;
    justify-content: center;
    >a{
      margin: 1rem;
      color:rgb(97, 97, 97);
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

::-webkit-scrollbar {
	width: 8px;
    height: 8px;
  //  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    background:transparent;
    border:none;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to left, #fff, #e4e4e4);
    border: 1px solid #aaa;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(to left, grey, rgba(grey,.8));
  }
