<div class="containerbox">
  <h1>Reset Password Form</h1>
  <div *ngIf="!isSuccessful;else content2" class="content1">
    <div class="text">Please enter your email address to reset your password</div>
    <div class="c-input">
      <input required #mailInput placeholder="Email" type="email">
    </div>
    <div class="e-message">{{errorMessage}}</div>
    <button *ngIf="!isbuttonHidden" class="btn btn-primary" (click)="ResetPassword(mailInput)">Reset My Password</button>
  </div>
  <ng-template #content2>
    <div class="content2">
        <h2>An email has been sent to this address. Visit your email to complete the password reset process.</h2>
        <a class="btn btn-primary" routerLink="../login">OK</a>
    </div>
  </ng-template>
</div>