<div class="adluckyme-body">
  <div class="adluckyme-body__top">
    <div class="adluckyme-body__top--left">
      <select [(ngModel)]="usersTypeFilterText" (change)="getLuckymesByType($event.target.value)" class="form-control" id="cbotypeOptions">
        <option value="all">All</option>
        <option value="0">Original</option>
        <option value="2">Dummy</option>
      </select>
    </div>
    <div class="adluckyme-body__top--right">
      <div [ngClass]="{disabled:unpdaidWinnersCount==0}" (click)="showUnpaidWinners()" class="unpaid badged">
        <span class="badge">{{unpdaidWinnersCount}}</span>
        <svg class="linkicon icon icon-mid">
          <use href="assets/Icons/svgs.svg#icon-wallet" />
        </svg>
      </div>
    </div>
  </div>
  <div class="adluckyme-body__bottom">
    <div class="adluckyme-body__bottom--left">
      <div class="info-card" id="allluckyme">
        <div class="info-card__head">
          <div class="info-card__head--left">
            <div class="btn-refresh">
              <a (click)="refresh()" routerLink="./">
                <svg class="linkicon icon icon-min">
                  <use href="assets/Icons/svgs.svg#icon-refresh" />
                </svg>
              </a>
            </div>
            <div class="info-card__head--text1">{{mainHeaderText}}</div>

            <select #cboPartType [(ngModel)]="filterText" (change)="changeParticipantTypeByStatus($event.target.value)" class="form-control" id="cboPartType">
              <option value="all">All</option>
              <option value="paid">Current Participants</option>
              <option value="lost">Lost</option>
              <option value="won">Unpaid Winners</option>
              <option value="completed">Paid Winners</option>
            </select>
          </div>
          <div class="info-card__head--right">
            <div class="btn-paywinner">
              <a [ngClass]="{disabled:!canUserBePaid}" class="badged" (click)="payWinner()" routerLink="./">
                <svg class="linkicon icon icon-mid">
                  <use href="assets/Icons/svgs.svg#icon-dollar" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="luckymeService.allLuckymes.length >0" class="info-card__body">

          <ag-grid-angular #agGrid style="height: 100%;" [rowSelection]="'single'" [rowMultiSelectWithClick]="true"
            (selectionChanged)="luckmeSelectionChanged(agGrid)" (gridReady)="onLuckymeGridReady($event)"
            class="ag-theme-balham" [embedFullWidthRows]="true" [rowData]="recentLuckymeStakes"
            [detailCellRenderer]="detailCellRenderer" [masterDetail]="true" [columnDefs]="luckymeColumnDefs"
            [modules]="luckymeModule" [detailRowHeight]="detailRowHeight" [frameworkComponents]="frameworkComponents"
            (firstDataRendered)="onFirstDataRendered($event)">
          </ag-grid-angular>
        </div>
      </div>



    </div>
    <div class="adluckyme-body__bottom--right">
      <div class="info-card participantscard">
        <div class="info-card__head">Current Participants</div>
        <div class="info-card__body">
          <div class="tab-box">
            <ul class="nav nav-tabs">
              <li class="nav-item active">
                <a class="nav-link active" href="#daily" role="tab" data-toggle="tab">Daily</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#weekly" role="tab" data-toggle="tab">Weekly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#monthly" role="tab" data-toggle="tab">Monthly</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show in active" id="daily">
                <div
                  *ngIf="!winnerSelectionService.isDailyDrawOngoing && winnerSelectionService.currentDailyLuckymeWinners"
                  class="winnerbox">
                  <div class="title">Latest Daily Luckyme Winners</div>
                  <div class="body">
                    <div *ngFor="let winner of winnerSelectionService.currentDailyLuckymeWinners" class="winner">
                      <span>{{winner.userName}}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="!winnerSelectionService.isDailyDrawOngoing" class="winner-group">
                  <div *ngFor="let participant of signalRService.dailyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                      <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                    </div>
                  </div>
                </div>

                <div *ngIf="winnerSelectionService.isDailyDrawOngoing" class="ongoingdraw">
                  <div class="header">Daily Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.dailyLuckymeParticipants" class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                              <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!winnerSelectionService.isDailyDrawOngoing" class="fixed-pane">
                  <button (click)="insertDummy('daily')" class="btn btn-danger">Insert Dummy</button>
                  <!-- <div class="fixed-participant">Fixed - </div> -->
                  <button (click)="showFixerBox('daily')" class="btn btn-danger btn-fix">Fix</button>
                </div>

              </div>

              <div role="tabpanel" class="tab-pane fade" id="weekly">
                <div
                  *ngIf="!winnerSelectionService.isWeeklyDrawOngoing && winnerSelectionService.currentWeeklyLuckymeWinners"
                  class="winnerbox">
                  <div class="title">Latest Weekly Luckyme Winners</div>
                  <div class="body">
                    <div *ngFor="let winner of winnerSelectionService.currentWeeklyLuckymeWinners" class="winner">
                      <span>{{winner.userName}}</span>
                    </div>
                  </div>
                </div>

                <div *ngIf="!winnerSelectionService.isWeeklyDrawOngoing" class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let participant of signalRService.weeklyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                      <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                    </div>
                  </div>

                </div>
                <div *ngIf="winnerSelectionService.isWeeklyDrawOngoing" class="ongoingdraw">
                  <div class="header">Weekly Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.weeklyLuckymeParticipants" class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                              <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!winnerSelectionService.isWeeklyDrawOngoing" class="fixed-pane">
                  <button (click)="insertDummy('weekly')" class="btn btn-danger">Insert Dummy</button>
                  <!-- <div class="fixed-participant">Fixed - </div> -->
                  <button (click)="showFixerBox('weekly')" class="btn btn-danger btn-fix">Fix</button>
                </div>

              </div>

              <div role="tabpanel" class="tab-pane fade" id="monthly">
                <div
                  *ngIf="!winnerSelectionService.isMonthlyDrawOngoing && winnerSelectionService.currentMonthlyLuckymeWinners"
                  class="winnerbox">
                  <div class="title">Latest Monthly Luckyme Winners</div>
                  <div class="body">
                    <div *ngFor="let winner of winnerSelectionService.currentMonthlyLuckymeWinners" class="winner">
                      <span>{{winner.userName}}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="!(winnerSelectionService.isMonthlyDrawOngoing | async)" class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let participant of signalRService.monthlyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                      <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                    </div>
                  </div>
                </div>

                <div *ngIf="(winnerSelectionService.isMonthlyDrawOngoing | async)" class="ongoingdraw">
                  <div class="header">Monthly Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.monthlyLuckymeParticipants"
                            class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                              <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!(winnerSelectionService.isMonthlyDrawOngoing | async)" class="fixed-pane">
                  <button (click)="insertDummy('monthly')" class="btn btn-danger">Insert Dummy</button>
                  <!-- <div class="fixed-participant">Fixed - </div> -->
                  <button (click)="showFixerBox('monthly')" class="btn btn-danger btn-fix">Fix</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="info-card winnerscard">
        <div class="info-card__head">Past Winners</div>
        <div class="info-card__body">
          <!-- *ngFor="let key of ObjectKeys(winnings)"  -->
          <div class="tab-box">
            <ul class="nav nav-tabs">
              <li class="nav-item active">
                <a class="nav-link active" href="#daily-winner" role="tab" data-toggle="tab">Daily</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#weekly-winner" role="tab" data-toggle="tab">Weekly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#monthly-winner" role="tab" data-toggle="tab">Monthly</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show in active" id="daily-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.dailyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="weekly-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.weeklyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="monthly-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.monthlyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div [ngClass]="{'visible':fixerBoxShown,'invisible':!fixerBoxShown}" class="popup regular" id="fixer-box">
  <div class="popup__content">
    <div class="popup__content--toolbar">
      <div class="toolbar--left">Fix {{selectedFixerPeriod}} Winner</div>
      <div class="toolbar--right">
        <a (click)="closeFixerBox()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      <div class="participants">
        <div [ngClass]="{selected:participant.status == 'wins'}" *ngFor="let participant of participantsToFix"
          class="particpants-item-holder">
          <!-- <input type="radio" name="fixeddailyluckyme" (change)="changeSelectedLuckyme(participant.id)" [id]="participant.id"> -->
          <label [for]="participant.id" class="winner-item">
            <div class="winner-item__description">
              <span class="winner-name">{{participant.userName}}</span>
              <span class="winning-details">
                <span class="amount-won"> staked <span class="period"> </span>GH₵
                  {{participant.amountStaked}}</span>
                <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
              </span>
            </div>
          </label>
          <button *ngIf="participant.status != 'wins'" (click)="fixWinner(participant.id)"
            class="btn btn-primary">Fix</button>
          <button *ngIf="participant.status == 'wins'" (click)="unFixWinner(participant.id)"
            class="btn btn-danger">UnFix</button>
        </div>
      </div>
    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>

<div [ngClass]="{'visible':paymentBoxShown,'invisible':!paymentBoxShown}" class="popup regular" id="payment-box">
  <div *ngIf="selectedluckyme" class="popup__content">
    <div class="popup__content--toolbar">
      <div *ngIf="selectedluckyme.user" class="toolbar--left">Pay {{selectedluckyme.user.firstName}}</div>
      <div class="toolbar--right">
        <a (click)="closePaymentBox()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      <div *ngIf="!selectedluckyme.user" class="spinner">Spinning</div>
      <div *ngIf="selectedluckyme.user" class="payment-details">
        <div *ngIf="selectedluckyme.user.preferedMoneyReceptionMethod == 'momo'" class="data-container">
          <div class="data-container__header">
            <p class="htext">Momo Details</p>
          </div>
          <div class="data-container__body">
            <div class="data-container__body--left">
              <p>Country</p>
              <p>Network</p>
              <p>Number</p>
              <p>Currency</p>
              <p>Transfer Id</p>
            </div>
            <div *ngIf="selectedluckyme.user" class="data-container__body--right">
              <p>{{selectedluckyme.user.momoDetails.country}}</p>
              <p>{{selectedluckyme.user.momoDetails.network}}</p>
              <p>{{selectedluckyme.user.momoDetails.number}}</p>
              <p>{{selectedluckyme.user.momoDetails.currency}}</p>
              <p>{{selectedluckyme.transferId}}</p>
            </div>
          </div>
        </div>
        <div *ngIf="selectedluckyme.user.preferedMoneyReceptionMethod == 'bank'" class="data-container">
          <div class="data-container__header">
            <p class="htext">USER</p>
          </div>
          <div class="data-container__body">
            <div class="data-container__body--left">
              <p>Bank Name</p>
              <p>Account Number</p>
              <p>Swift Code</p>
              <p>Transfer Id</p>
            </div>
            <div *ngIf="selectedluckyme.user" class="data-container__body--right">
              <p>{{selectedluckyme.user.bankDetails.bankName}}</p>
              <p>{{selectedluckyme.user.bankDetails.accountNumber}}</p>
              <p>{{selectedluckyme.user.bankDetails.swiftCode}}</p>
              <p>{{selectedluckyme.transferId}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedluckyme.user" class="paymentform">
        <form *ngIf="selectedluckyme.user.userType==0" [formGroup]="paymentForm" (ngSubmit)="addPaymentRecord()">
          <div [ngClass]="{disabled:isPaymentInputsDisabled}" class="c-input">
            <input type="text" placeholder="Amount Paid" [formControlName]="'amount'" />
            <i class="c-addon fa fa-money"></i>
            <b *ngIf="!paymentForm.get('amount').valid && paymentForm.get('amount').touched" class="val-msg">
              <p>Amount Paid Is Required</p>
            </b>
          </div>
          <div [ngClass]="{disabled:isPaymentInputsDisabled}" class="c-input">
            <input type="text" placeholder="Transaction Id" [formControlName]="'transactionId'" />
            <i class="c-addon fa fa-lock"></i>
            <b *ngIf="!paymentForm.get('transactionId').valid && paymentForm.get('transactionId').touched" class="val-msg">
              <p>Transaction Id Is Required</p>
            </b>
          </div>
          <div class="actionpane">
            <button *ngIf="isPaymentInputsDisabled" (click)="isPaymentInputsDisabled = false" type="submit" class="btn btn-info">Edit</button>
            <p class="midpane">{{paymentRecordMessage}}</p>
            <button *ngIf="!isPaymentInputsDisabled && !isAddingPaymentRecord" type="submit" class="btn btn-secondary">Submit</button>
            <button *ngIf="!isPaymentInputsDisabled && isAddingPaymentRecord" class="btn btn-secondary">loading</button>
          </div>
        </form>
        <h4 *ngIf="selectedluckyme.user.userType==2">Cannot Pay A Dummy Winner</h4>
      </div>

    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>