<div class="adluckyme-body">
  <div class="adluckyme-body__top">

    <select (change)="getLuckymesByType($event.target.value)" class="form-control" id="cbotypeOptions">
      <option value="all">All</option>
      <option value="0">Original</option>
      <option value="2">Dummy</option>
    </select>
  </div>
  <div class="adluckyme-body__bottom">
    <div class="adluckyme-body__bottom--left">
      <div class="info-card" id="allluckyme">
        <div class="info-card__head">
          <div class="btn-refresh"><a (click)="refresh()" routerLink="./">refresh</a></div>
          <div class="info-card__head--text1">Recent Luckyme Stakes</div>

          <select (change)="filterStaker($event.target.value)" class="form-control" id="cboOptions">
            <option value="all">All</option>
            <option value="paid">Current Participants</option>
            <option value="lost">Lost</option>
            <option value="won">Pending Payment</option>
          </select>

        </div>
        <div *ngIf="luckymeService.allLuckymes.length >0" class="info-card__body">
          <div *ngFor="let luckyme of recentLuckymeStakes" class="recent-stake-item-holder">
            <input type="radio" name="selectedluckyme" (change)="changeSelectedLuckyme(luckyme.id)" [id]="luckyme.id">
            <label [for]="luckyme.id" class="recent-stake-item">
              <div class="recent-stake-item--top">
                <div class="period">{{luckyme.period}}</div>
                <div class="amount">GHS {{luckyme.amount}}</div>
                <div class="date"> {{luckyme.date}} </div>
              </div>
              <div class="recent-stake-item--bottom">
                <div class="status">Status : {{luckyme.status}}</div>
                <div *ngIf="luckyme.isWinner" class="amount-won">To Win GHS {{luckyme.amountToWin}}</div>
                <div *ngIf="!luckyme.isWinner" class="potential-returns">Potential Winning : GHS 2000</div>
              </div>
            </label>
          </div>

        </div>
      </div>

      <div class="info-card details">
        <div class="info-card__head">Details</div>
        <div class="info-card__body">
          <div *ngIf="selectedluckyme" class="luckyme-details">
            <div class="record">
              <div class="label">Date</div>
              <div class="text">{{selectedluckyme.date}}</div>
            </div>
            <div class="record">
              <div class="label">Amount</div>
              <div class="text">GHS {{selectedluckyme.amount}}</div>
            </div>
            <div class="record">
              <div class="label">Period</div>
              <div class="text">{{selectedluckyme.period}}</div>
            </div>
            <div class="record">
              <div class="label">Status</div>
              <div class="text">{{selectedluckyme.status}}</div>
            </div>
            <div *ngIf="selectedluckyme.status == 'won'" class="record">
                <div class="label">Amount Won</div>
                <div class="text">{{selectedluckyme.amountToWin}}</div>
              </div>
  
          </div>
          <div *ngIf="selectedluckyme" class="luckyme-userdetails">
            <div class="record">
              <div class="label">Email</div>
              <div class="text">{{selectedluckyme.user.email}}</div>
            </div>
            <div class="record">
              <div class="label">Phone Number</div>
              <div class="text">{{selectedluckyme.user.phoneNumber}}</div>
            </div>
            <div class="record">
              <div class="label">Name</div>
              <div class="text">{{selectedluckyme.user.firstName}} {{selectedluckyme.user.lastName}}</div>
            </div>

          </div>
          <div *ngIf="selectedluckyme" class="payment-details">
            <div [ngStyle]="{'background-color':selectedluckyme.status == 'won' ? 'green' : 'red'}" class="status">{{selectedluckyme.status}}</div>
            <div *ngIf="selectedluckyme.user.preferedMoneyReceptionMethod == 'momo'" class="momo">
              <div class="record">
                <div class="label">Selected Payment Method</div>
                <div class="text">{{selectedluckyme.user.preferedMoneyReceptionMethod}}</div>
              </div>
              <div class="record">
                <div class="label">Number</div>
                <div *ngIf="selectedluckyme.user.momoDetails" class="text">{{selectedluckyme.user.momoDetails.number}}
                </div>
              </div>
              <div class="record">
                <div class="label">Network</div>
                <div *ngIf="selectedluckyme.user.momoDetails" class="text">{{selectedluckyme.user.momoDetails.network}}
                </div>
              </div>
              <div class="record">
                <div class="label">Country</div>
                <div *ngIf="selectedluckyme.user.momoDetails" class="text">{{selectedluckyme.user.momoDetails.country}}
                </div>
              </div>
              <div class="record">
                <div class="label">Currency</div>
                <div *ngIf="selectedluckyme.user.momoDetails" class="text">{{selectedluckyme.user.momoDetails.currency}}
                </div>
              </div>
              <div *ngIf="selectedluckyme.status == 'won'" class="record transactionpane">
                <div class="form-group">
                  <label>Pay User and Enter Transaction Id</label>
                  <input type="text" class="form-control"
                    placeholder="Enter Transaction Id">
                  <small *ngIf="false"
                    class="form-text text-danger">Please enter the transaction Id</small>
                </div>
                <div class="btn btn-info">User Paid</div>
              </div>



            </div>

            <div *ngIf="selectedluckyme.user.preferedMoneyReceptionMethod == 'bank'" class="bank">
              <div class="record">
                <div class="label">Selected Payment Method</div>
                <div class="text">{{selectedluckyme.user.preferedMoneyReceptionMethod}}</div>
              </div>
              <div class="record">
                <div class="label">Bank Name</div>
                <div *ngIf="selectedluckyme.user.bankDetails" class="text">{{selectedluckyme.user.bankDetails.bankName}}
                </div>
              </div>
              <div class="record">
                <div class="label">Account Number</div>
                <div *ngIf="selectedluckyme.user.bankDetails" class="text">
                  {{selectedluckyme.user.bankDetails?.acountNumber}}</div>
              </div>
              <div class="record">
                <div class="label">Swift Code</div>
                <div *ngIf="selectedluckyme.user.bankDetails" class="text">
                  {{selectedluckyme.user.bankDetails.swiftCode}}</div>
              </div>
              <div *ngIf="selectedbusiness.status == 'won'" class="record transactionpane">
                  <div class="form-group">
                    <label>Pay User and Enter Transaction Id</label>
                    <input type="text" class="form-control" placeholder="Enter Transaction Id">
                    <small *ngIf="false" class="form-text text-danger">Please enter the transaction Id</small>
                  </div>
                  <div class="btn btn-info">User Paid</div>
                </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="adluckyme-body__bottom--right">
      <div class="info-card participantscard">
        <div class="info-card__head">Current Participants</div>
        <div class="info-card__body">
          <div class="tab-box">
            <ul class="nav nav-tabs">
              <li class="nav-item active">
                <a class="nav-link active" href="#daily" role="tab" data-toggle="tab">Daily</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#weekly" role="tab" data-toggle="tab">Weekly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#monthly" role="tab" data-toggle="tab">Monthly</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show in active" id="daily">
                <div
                  *ngIf="!winnerSelectionService.isDailyDrawOngoing && winnerSelectionService.currentDailyLuckymeWinner"
                  class="winnerbox">
                  <!-- <div class="winnerbox"> -->
                  <div class="title">Latest Daily Luckyme Winner</div>
                  <!-- <div class="body">Justice Addico</div> -->
                  <div class="body">{{winnerSelectionService.currentDailyLuckymeWinner.userName}}</div>
                </div>
                <div *ngIf="!winnerSelectionService.isDailyDrawOngoing" class="winner-group">
                  <div *ngFor="let participant of signalRService.dailyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                      <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                    </div>
                  </div>
                </div>

                <div *ngIf="winnerSelectionService.isDailyDrawOngoing" class="ongoingdraw">
                  <div class="header">Daily Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.dailyLuckymeParticipants" class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                              <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="!winnerSelectionService.isDailyDrawOngoing && signalRService.dailyLuckymeParticipants.length > 0"
                  class="fixed-pane">
                  <button (click)="insertDummy('daily')" class="btn btn-danger">Insert Dummy</button>
                  <!-- <div class="fixed-participant">Fixed - </div> -->
                  <button (click)="showFixerBox('daily')" class="btn btn-danger btn-fix">Fix</button>
                </div>

              </div>

              <div role="tabpanel" class="tab-pane fade" id="weekly">
                <div
                  *ngIf="!winnerSelectionService.isWeeklyDrawOngoing && winnerSelectionService.currentWeeklyLuckymeWinner"
                  class="winnerbox">
                  <!-- <div class="winnerbox"> -->
                  <div class="title">Latest Weekly Luckyme Winner</div>
                  <!-- <div class="body">Justice Addico</div> -->
                  <div class="body">{{winnerSelectionService.currentWeeklyLuckymeWinner.userName}}</div>
                </div>

                <div *ngIf="!winnerSelectionService.isWeeklyDrawOngoing" class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let participant of signalRService.weeklyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                      <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                    </div>
                  </div>

                </div>
                <div *ngIf="winnerSelectionService.isWeeklyDrawOngoing" class="ongoingdraw">
                  <div class="header">Weekly Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.weeklyLuckymeParticipants" class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                              <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="!winnerSelectionService.isWeeklyDrawOngoing && signalRService.weeklyLuckymeParticipants.length > 0"
                  class="fixed-pane">
                  <button (click)="insertDummy('weekly')" class="btn btn-danger">Insert Dummy</button>
                  <!-- <div class="fixed-participant">Fixed - </div> -->
                  <button (click)="showFixerBox('weekly')" class="btn btn-danger btn-fix">Fix</button>
                </div>

              </div>

              <div role="tabpanel" class="tab-pane fade" id="monthly">
                <div
                  *ngIf="!(winnerSelectionService.isMonthlyDrawOngoing | async) && winnerSelectionService.currentMonthlyLuckymeWinner"
                  class="winnerbox">
                  <!-- <div class="winnerbox"> -->
                  <div class="title">Latest Monthly Luckyme Winner</div>
                  <!-- <div class="body">Justice Addico</div> -->
                  <div class="body">{{winnerSelectionService.currentMonthlyLuckymeWinner.userName}}</div>
                </div>
                <div *ngIf="!(winnerSelectionService.isMonthlyDrawOngoing | async)" class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let participant of signalRService.monthlyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                      <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                    </div>
                  </div>
                </div>

                <div *ngIf="(winnerSelectionService.isMonthlyDrawOngoing | async)" class="ongoingdraw">
                  <div class="header">Monthly Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.monthlyLuckymeParticipants"
                            class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                              <span class="isfixed" *ngIf="participant.status == 'wins'">fixed</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="!(winnerSelectionService.isMonthlyDrawOngoing | async) && signalRService.monthlyLuckymeParticipants.length > 0"
                  class="fixed-pane">
                  <button (click)="insertDummy('monthly')" class="btn btn-danger">Insert Dummy</button>
                  <!-- <div class="fixed-participant">Fixed - </div> -->
                  <button (click)="showFixerBox('monthly')" class="btn btn-danger btn-fix">Fix</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="info-card winnerscard">
        <div class="info-card__head">Past Winners</div>
        <div class="info-card__body">
          <!-- *ngFor="let key of ObjectKeys(winnings)"  -->
          <div class="tab-box">
            <ul class="nav nav-tabs">
              <li class="nav-item active">
                <a class="nav-link active" href="#daily-winner" role="tab" data-toggle="tab">Daily</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#weekly-winner" role="tab" data-toggle="tab">Weekly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#monthly-winner" role="tab" data-toggle="tab">Monthly</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show in active" id="daily-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.dailyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="weekly-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.weeklyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="monthly-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.monthlyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div [ngClass]="{'visible':fixerBoxShown,'invisible':!fixerBoxShown}" class="popup regular" id="fixer-box">
  <div class="popup__content">
    <div class="popup__content--toolbar">
      <div class="toolbar--left">Fix {{selectedFixerPeriod}} Winner</div>
      <div class="toolbar--right">
        <a (click)="closeFixerBox()" class="closebtn">
          <span class="fa fa-times"></span>
        </a>
      </div>
    </div>
    <div class="popup__content--body">
      <div class="participants">
        <div [ngClass]="{selected:participant.status == 'wins'}" *ngFor="let participant of participantsToFix"
          class="particpants-item-holder">
          <!-- <input type="radio" name="fixeddailyluckyme" (change)="changeSelectedLuckyme(participant.id)" [id]="participant.id"> -->
          <label [for]="participant.id" class="winner-item">
            <div class="winner-item__description">
              <span class="winner-name">{{participant.userName}}</span>
              <span class="winning-details">
                <span class="amount-won"> staked <span class="period"> </span>GH₵
                  {{participant.amountStaked}}</span>
                <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
              </span>
            </div>
          </label>
          <button *ngIf="participant.status != 'wins'" (click)="fixWinner(participant.id)"
            class="btn btn-primary">Fix</button>
          <button *ngIf="participant.status == 'wins'" (click)="unFixWinner(participant.id)"
            class="btn btn-danger">UnFix</button>
        </div>
      </div>
    </div>
    <div class="popup__content--footer"></div>
  </div>
</div>