.adluckyme-body {
  height: calc(100vh - 6rem);
  overflow: auto;
  &__top {
    background-color: white;
    padding:.1rem;
    #cbotypeOptions {
      width: 40rem;
      height: 4rem;
      margin: 0.5rem;
    }
  }
  &__bottom {
    height: 100%;
    display: flex;
    overflow: hidden;
    &--left {
      flex: 1 1 60%;
      display: flex;
      justify-content: space-evenly;
      height: inherit;
      #allluckyme {
        .recent-stake-item-holder {
          input[name="selectedluckyme"] {
            display: none;
            &:checked {
              & + .recent-stake-item {
                background-color: orange;
                color: white;
              }
            }
          }
        }
      }

      .recent-stake-item {
        cursor: pointer;
      }

      .info-card {
        margin: 0rem;
        width: 50%;
      }

      .info-card.details {
        .info-card__body {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          .luckyme-details {
            box-shadow: var(--shadow);
            margin: 2rem;
            padding: 1rem;
          }
          .luckyme-userdetails {
            box-shadow: var(--shadow);
            margin: 2rem;
            padding: 1rem;
          }
          .payment-details {
            box-shadow: var(--shadow);
            margin: 2rem;
            padding: 1rem;
            padding-top: 3rem;
            position: relative;
            .status{
              position: absolute;
              right: 0;
              top:0;
              
              color: white;
              text-transform: uppercase;
              font-size: 1.4rem;
              padding: .5rem;
              letter-spacing: .1rem;
            }
            .transactionpane{
              .btn{
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
    &--right {
      flex: 1 1 40%;
      height: inherit;
      overflow: auto;
    }
  }
}
