<div class="adluckyme-body">
  <div class="adluckyme-body__top"></div>
  <div class="adluckyme-body__bottom">
    <div class="adluckyme-body__bottom--left">
      <div *ngIf="luckymeService.allLuckymes.length >0 " class="info-card" id="allluckyme">
        <div class="info-card__head">
          Recent Luckyme Stakes
        </div>
        <div class="info-card__body">
          <div *ngFor="let luckyme of luckymeService.allLuckymes" class="recent-stake-item-holder">
            <input type="radio" name="selectedluckyme" (change)="changeSelectedLuckyme(luckyme.id)" [id]="luckyme.id">
            <label [for]="luckyme.id" class="recent-stake-item">
              <div class="recent-stake-item--top">
                <div class="period">{{luckyme.period}}</div>
                <div class="amount">GHS {{luckyme.amount}}</div>
                <div class="date"> {{luckyme.date}} </div>
              </div>
              <div class="recent-stake-item--bottom">
                <div class="status">Status : {{luckyme.status}}</div>
                <div *ngIf="luckyme.isWinner" class="amount-won">To Win GHS {{luckyme.amountToWin}}</div>
                <div *ngIf="!luckyme.isWinner" class="potential-returns">Potential Winning : GHS 2000</div>
              </div>
            </label>
          </div>

        </div>
      </div>

      <div class="info-card details">
        <div class="info-card__head">Details</div>
        <div class="info-card__body">
          <div *ngIf="selectedluckyme" class="luckyme-details">
            <div class="record">
              <div class="label">Date</div>
              <div class="text">{{selectedluckyme.date}}</div>
            </div>
            <div class="record">
              <div class="label">Amount</div>
              <div class="text">{{selectedluckyme.amount}}</div>
            </div>
            <div class="record">
              <div class="label">Period</div>
              <div class="text">{{selectedluckyme.period}}</div>
            </div>
            <div class="record">
              <div class="label">Status</div>
              <div class="text">{{selectedluckyme.status}}</div>
            </div>
          </div>
          <div *ngIf="selectedluckyme" class="luckyme-userdetails">
            <div class="record">
              <div class="label">Email</div>
              <div class="text">{{selectedluckyme.user.email}}</div>
            </div>
            <div class="record">
              <div class="label">Phone Number</div>
              <div class="text">{{selectedluckyme.user.phoneNumber}}</div>
            </div>
            <div class="record">
              <div class="label">Name</div>
              <div class="text">{{selectedluckyme.user.firstName}} {{selectedluckyme.user.lastName}}</div>
            </div>
          
          </div>
        </div>
      </div>

    </div>
    <div class="adluckyme-body__bottom--right">
      <div class="info-card participantscard">
        <div class="info-card__head">Current Participants</div>
        <div class="info-card__body">
          <div class="tab-box">
            <ul class="nav nav-tabs">
              <li class="nav-item active">
                <a class="nav-link active" href="#daily" role="tab" data-toggle="tab">Daily</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#weekly" role="tab" data-toggle="tab">Weekly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#monthly" role="tab" data-toggle="tab">Monthly</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show in active" id="daily">
                <div
                  *ngIf="!winnerSelectionService.isDailyDrawOngoing && winnerSelectionService.currentDailyLuckymeWinner"
                  class="winnerbox">
                  <!-- <div class="winnerbox"> -->
                  <div class="title">Latest Daily Luckyme Winner</div>
                  <!-- <div class="body">Justice Addico</div> -->
                  <div class="body">{{winnerSelectionService.currentDailyLuckymeWinner.userName}}</div>
                </div>
                <div *ngIf="!winnerSelectionService.isDailyDrawOngoing" class="winner-group">
                  <div *ngFor="let participant of signalRService.dailyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>

                </div>

                <div *ngIf="winnerSelectionService.isDailyDrawOngoing" class="ongoingdraw">
                  <div class="header">Daily Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.dailyLuckymeParticipants" class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="!winnerSelectionService.isDailyDrawOngoing && signalRService.dailyLuckymeParticipants.length > 0" class="fixed-pane">
                  <div class="fixed-participant">Fixed - Justice Addico (1001)</div>
                  <button (click)="showFixerBox()" class="btn btn-danger btn-fix">Fix</button>
                </div>

              </div>
              <div role="tabpanel" class="tab-pane fade" id="weekly">
                <div
                  *ngIf="!winnerSelectionService.isWeeklyDrawOngoing && winnerSelectionService.currentWeeklyLuckymeWinner"
                  class="winnerbox">
                  <!-- <div class="winnerbox"> -->
                  <div class="title">Latest Weekly Luckyme Winner</div>
                  <!-- <div class="body">Justice Addico</div> -->
                  <div class="body">{{winnerSelectionService.currentWeeklyLuckymeWinner.userName}}</div>
                </div>

                <div *ngIf="!winnerSelectionService.isWeeklyDrawOngoing" class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let participant of signalRService.weeklyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>

                </div>
                <div *ngIf="winnerSelectionService.isWeeklyDrawOngoing" class="ongoingdraw">
                  <div class="header">Weekly Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.weeklyLuckymeParticipants" class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="monthly">
                <div
                  *ngIf="!winnerSelectionService.isMonthlyDrawOngoing && winnerSelectionService.currentMonthlyLuckymeWinner"
                  class="winnerbox">
                  <!-- <div class="winnerbox"> -->
                  <div class="title">Latest Monthly Luckyme Winner</div>
                  <!-- <div class="body">Justice Addico</div> -->
                  <div class="body">{{winnerSelectionService.currentMonthlyLuckymeWinner.userName}}</div>
                </div>
                <div *ngIf="!winnerSelectionService.isMonthlyDrawOngoing" class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let participant of signalRService.monthlyLuckymeParticipants" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{participant.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> staked <span class="period"> </span>GH₵
                          {{participant.amountStaked}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>

                <div *ngIf="winnerSelectionService.isMonthlyDrawOngoing" class="ongoingdraw">
                  <div class="header">Monthly Draw is ongoing</div>
                  <div class="drawbox">
                    <div class="lds-hourglass loader"></div>
                    <div class="participants info-card">
                      <div class="info-card__body">
                        <div class="winner-group">
                          <div *ngFor="let participant of signalRService.monthlyLuckymeParticipants"
                            class="winner-item">
                            <div class="winner-item__description">
                              <span class="winner-name">{{participant.userName}}</span>
                              <span class="winning-details">
                                <span class="amount-won"> staked <span class="period"> </span>GH₵
                                  {{participant.amountStaked}}</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="info-card winnerscard">
        <div class="info-card__head">Past Winners</div>
        <div class="info-card__body">
          <!-- *ngFor="let key of ObjectKeys(winnings)"  -->
          <div class="tab-box">
            <ul class="nav nav-tabs">
              <li class="nav-item active">
                <a class="nav-link active" href="#daily-winner" role="tab" data-toggle="tab">Daily</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#weekly-winner" role="tab" data-toggle="tab">Weekly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#monthly-winner" role="tab" data-toggle="tab">Monthly</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show in active" id="daily-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.dailyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="weekly-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.weeklyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="monthly-winner">
                <div class="winner-group">
                  <!-- *ngFor="let winner of winnings[key]" -->
                  <!-- *ngFor="let participant of winnerSelectionService.businessWinners"  -->
                  <div *ngFor="let winner of winnerSelectionService.monthlyLuckymeWinners" class="winner-item">
                    <div class="winner-item__description">
                      <span class="winner-name">{{winner.userName}}</span>
                      <span class="winning-details">
                        <span class="amount-won"> Won <span class="period"> </span>GH₵
                          {{winner.amountToWin}}</span>
                        <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div [ngClass]="{'visible':fixerBoxShown,'invisible':!fixerBoxShown}" class="popup regular" id="fixer-box">
    <div class="popup__content">
      <div class="popup__content--toolbar">
        <div class="toolbar--left">Fix Winner</div>
        <div class="toolbar--right">
          <a (click)="closeFixerBox()" class="closebtn">
            <span class="fa fa-times"></span>
          </a>
        </div>
      </div>
      <div class="popup__content--body">
        <div class="participants">
          <div *ngFor="let participant of signalRService.dailyLuckymeParticipants" class="particpants-item-holder">
              <input type="radio" name="fixeddailyluckyme" (change)="changeSelectedLuckyme(participant.luckyme.id)" [id]="participant.luckyme.id">
              <label [for]="participant.luckyme.id"class="winner-item">
                  <div class="winner-item__description">
                    <span class="winner-name">{{participant.userName}}</span>
                    <span class="winning-details">
                      <span class="amount-won"> staked <span class="period"> </span>GH₵
                        {{participant.amountStaked}}</span>
                      <!-- <span class="amount-staked"> with GH₵ winner.amount</span> -->
                    </span>
                  </div>
              </label>
          </div>
        </div>
      </div>
      <div class="popup__content--footer"></div>
    </div>
  </div>
  