<div>
  <app-header></app-header>

  <div class="container page_section">
    <div class="section_header">
      <h3>Available Crowdfunds</h3>
      <hr>
    </div>

    <div class="crowds_section">
      <div class="row" *ngIf="crowds;else spinner">
        <div class="col-lg-4 pb-4" *ngFor="let crowd of crowds" routerLink="/crowdfunding/{{crowd.id}}">
          <mat-card>
            <img mat-card-image [src]="urlLink + crowd.mainImageUrl">
            <mat-card-content>
              <span class="font-weight-bold">Title</span>
              <p>{{crowd.title}}</p>
              <br>
              <span class="font-weight-bold">Description</span>
              <div class="crowd_description">
                <div class="description" style="-webkit-box-orient: vertical;" [innerHTML]="crowd.description">
                  <p>{{crowd.description}}</p>
                </div>
              </div>
              <hr>
              <div class="contributed">
                <span class="text-info">{{crowd.totalAmountRecieved |currency:'GH¢'}} Contributed</span>
                <p>
                  <ngb-progressbar type="info" [value]="(crowd.totalAmountRecieved / crowd.totalAmount) * 100">
                  </ngb-progressbar>
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <ng-template #spinner>
        <app-spinner></app-spinner>
      </ng-template>
    </div>
  </div>
</div>
