<header class="main-header">
    <div class="main-header__left">
        <div class="app-brand">
            <img src="../../assets/images/ntlog.png" alt="">
        </div>
    </div>

    <div class="main-header__right">
        <div class="main-header__right--user">
            <img [src]="apiPath +'/users/getimage/'+ currentUser.email.split('@')[0]" alt=""
                class="userimage img-bordered">

            <span class="username">{{currentUser.firstName}}</span>
            <!-- <img src="assets/Icons/caret-down.svg"/> -->
            <svg class="icon icon-min">
                <use href="../../assets/Icons/svgs.svg#icon-chevron-small-down" />
            </svg>
        </div>
    </div>
</header>
<div class="main-body">
    <nav class="main-nav">
        <ul class="links">
            <li>
                <input type="radio" [checked]="isHomePage" id="homechecker" name="navchecker">
                <label for="homechecker" (click)="check('home')">
                    <a routerLink="home">Home</a>
                </label>
            </li>
            <li >
                <input type="radio" [checked]="!isHomePage" id="profilechecker" name="navchecker">
                <label for="profilechecker" (click)="check('profile')">
                    <a routerLink="profile">Profile</a>
                </label>

            </li>
        </ul>
    </nav>
    <div class="body-content">
        <router-outlet></router-outlet>
    </div>
</div>