<app-busy [ngClass]="{'visible':loading,'invisible':!loading}" #loader></app-busy>
<div class="register-bg"></div>
<div class="register-body">
  <form class="register-box" [formGroup]="registrationForm" (ngSubmit)="register()">
    <div class="register-box__header">
      <h3>register</h3>
    </div>
    <div class="register-box__body">
      <div class="userImage">
        <app-custom-file-input (inputChanged)="imageSelected($event)"  defaultLabelText="Choose Image" hiddenLabelText="Remove Image">
        </app-custom-file-input>

      </div>
      <div class="c-input">
        <input type="text" placeholder="First Name" [formControlName]="'firstName'" />
        <i class="c-addon fa fa-user"></i>
        <b class="val-msg">
          <p *ngIf="!registrationForm.get('firstName').valid && registrationForm.get('firstName').touched">This Field Is
            Required</p>
        </b>
      </div>
      <div class="c-input">
        <input type="text" placeholder="Last Name" formControlName="lastName" />
        <i class="c-addon fa fa-user"></i>
        <b class="val-msg">
          <p *ngIf="!registrationForm.get('lastName').valid && registrationForm.get('lastName').touched">This Field Is
            Required</p>
        </b>
      </div>
      <div class="c-input">
        <input type="email" placeholder="Email" formControlName="email" />
        <i class="c-addon fa fa-envelope"></i>
        <b class="val-msg">
          <p *ngIf="!registrationForm.get('email').valid && registrationForm.get('email').touched">This Field Is
            Required</p>
        </b>
      </div>
      <div class="c-input">
        <input type="text" placeholder="Phone Number" formControlName="phoneNumber" />
        <i class="c-addon fa fa-envelope"></i>
        <b class="val-msg">
          <p *ngIf="!registrationForm.get('phoneNumber').valid && registrationForm.get('phoneNumber').touched">This
            Field Is Required</p>
        </b>
      </div>

      <div class="c-input">
        <input type="password" placeholder="Password" formControlName="password" />
        <i class="c-addon fa fa-lock"></i>
        <b class="val-msg">
          <p *ngIf="!registrationForm.get('password').valid && registrationForm.get('password').touched">This Field Is
            Required</p>
        </b>
      </div>
      <div class="c-input">
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
        <i class="c-addon fa fa-lock"></i>
        <b class="val-msg">
          <p *ngIf="!registrationForm.get('confirmPassword').valid && registrationForm.get('confirmPassword').touched">
            This Field Is Required</p>
        </b>
      </div>

    </div>
    <div *ngIf="error" class="error-pane">{{error}}</div>
    <div class="registerbtnpane">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
    <h5>Or Continue With</h5>
    <div class="socials">
      <a href="" class="slink"><img src="assets/images/fblogo.png" alt="facebook"></a>
      <a href="" class="slink"><img src="assets/images/googlelogo.png" alt="google"></a>
      <a href="" class="slink"><img src="assets/images/twitterlogo.png" alt="twitter"></a>
    </div>
    <div class="register-box__footer">

    </div>
  </form>
</div>