<div class="register-body">
  <div class="register-box">
    <div class="register-box__header">
      <h3>register</h3>
    </div>
    <div class="register-box__body">
      <div class="c-input">
        <input type="email" placeholder="Email Or Number" />
        <i class="c-addon fa fa-envelope"></i>
        <b class="val-msg"></b>
      </div>
      <div class="c-input">
        <input type="password" placeholder="Password" />
        <i class="c-addon fa fa-envelope"></i>
        <b class="val-msg"></b>
      </div>
      <div class="c-input">
        <input type="text" placeholder="Mobile Number" />
        <i class="c-addon fa fa-envelope"></i>
        <b class="val-msg"></b>
      </div>
      <div class="c-input">
        <input type="datetime" placeholder="DOB" />
        <i class="c-addon fa fa-envelope"></i>
        <b class="val-msg"></b>
      </div>
    </div>
    <div class="registerbtnpane">
      <a class="btn btn-primary">register</a>
    </div>
    <h5>Or Continue With</h5>
    <div class="socials">
      <a href="" class="slink"><img src="assets/images/fblogo.png" alt="facebook"></a>
      <a href="" class="slink"><img src="assets/images/googlelogo.png" alt="google"></a>
      <a href="" class="slink"><img src="assets/images/twitterlogo.png" alt="twitter"></a>
    </div>
    <div class="register-box__footer">

    </div>
  </div>
</div>