section {
  z-index: var(--level-two);
  position: relative;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  width: calc(100vw);
  overflow: auto;

  .page-header {
    margin-bottom: 30px;

    .pageheader-title {
      font-size: 24px;
      margin-bottom: 8px;
      color: black;
      text-align: start;
      margin-top: 20px;
      padding: 0;
      border-bottom: 1px solid lightgray;
    }
  }

  .user-details {
    margin-top: 15px;

    p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    span {
      font-weight: 500;
    }

    .date-created {
      margin-right: 20px;
      margin-left: 10px;
    }

    .mat-icon {
      margin-right: 5px;
    }
  }

  .crowd-description {
    margin-top: 20px;
    p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }

  .amount-raised {
    .raised {
      font-weight: 600;
      font-size: 18px;
    }

    .amount-details {
      margin-top: 20px;
      margin-bottom: 20px;

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }

    .amount-contribute {
      .contribute-head {
        font-size: 18px;
        font-weight: 500;
      }

      span {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.mat-card {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
