.pdf-bg {
    position: fixed;
    // background-image: url(../../assets/images/luckyme2.jpg);
    // background: url(https://s3.amazonaws.com/cdn.powerball.com/drupal/themes/rapid/images/shared/draw-summary-hero-bg.png)
    //  center center no-repeat #dd3502;

    // background-image: url(../../assets/images/homebg.jpg);
    // background-size: cover;
    // background-color: rgba(black, 0.3);
    // background-position: center;   
    background-blend-mode: color;
    height: calc(100vh);
    width: calc(100vw);
    top: 0;
    left: 0;
    z-index: 0;
  }
  