<section>
  <app-header></app-header>

  <div class="scholar">
    <div class="bg-section d-table w-100" style="background: url('../../assets/images/scholar.jpg');">
      <div class="container">
        <div class="row position-relative align-items-center pt-4">
          <div class="col-lg-6">
            <div class="title-heading rounded bg-white shadow mt-5">
              <h1 class="heading mb-3">Student Scholarship</h1>
              <p class="para-desc text-muted">We are Ghana’s #1 Crowdfunding Platform. Through our innovative approach,
                we make it possible for students to get their
                academic dreams funded.</p>
              <div class="mt-4">
                <a routerLink="/scholarship/get-started" class="btn btn-primary mt-2 mr-2">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container dt_section">
      <div class="row justify-content-center sc_section">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h4 class="title mb-4">A Game Changer for Students</h4>
            <!-- <p class="text-muted para-desc mb-0 mx-auto">Start working with <span
                    class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate
                  awareness, drive traffic, connect.</p> -->
          </div>
        </div>
      </div>

      <div class="mt-100 mt-60 ">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-5">
            <div class="position-relative">
              <img src="../../assets/images/Screen-Shot-2020-02-07-at-8.48.58-PM.png"
                class="rounded img-fluid mx-auto d-block" alt="">
            </div>
          </div>
          <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
            <div class="section-title ml-lg-4">
              <h4 class="title mb-4">Startup Business Solution</h4>
              <p class="text-muted">With Ntoboa Funds crowdfunding, you can kiss financial hardships goodbye. You can
                use funding from Ntoboa Fund to:</p>
              <ul class="list-unstyled text-muted">
                <li class="mb-0"><span class="text-primary h5 mr-2">
                    <mat-icon>navigate_next</mat-icon>
                  </span>Pay for Tuition Fees</li>
                <li class="mb-0"><span class="text-primary h5 mr-2">
                    <mat-icon>navigate_next</mat-icon>
                  </span>Pay for Books and Study Materials</li>
                <li class="mb-0"><span class="text-primary h5 mr-2">
                    <mat-icon>navigate_next</mat-icon>
                  </span>Pay for Food & Living Expenses</li>
              </ul>
              <a routerLink="/scholarship/get-started" class="btn btn-primary mt-3">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
