<div class="mhome-body">
  <div class="mhome-body__top">
    <div class="thumbcard">
      <div class="number">50</div>
      <div class="text">Points</div>
    </div>
    <div class="thumbcard">
      <div class="number">50</div>
      <div class="text">Total Stakes</div>
    </div>
    <div class="thumbcard">
      <div class="number">50</div>
      <div class="text">Total Scholarship Stakes</div>
    </div>
    <div class="thumbcard">
      <div class="number">50</div>
      <div class="text">Total LuckyMe Stakes</div>
    </div>
    <div class="thumbcard">
      <div class="number">50</div>
      <div class="text">Total Business Stakes</div>
    </div>
  </div>
  <div class="mhome-body__info-strips">
    <div class="panel">
      <div class="text">Get 3 Points on every 5 cedis bet placed and win amazing prizes during the points draw at the end of the month</div>
    </div>
  </div>
<div class="stories">
  <div class="heading">
    <div class="text">Stories</div>
  </div>
  <div class="stories__body">
    <div class="story">
      <div class="left">
          <div class="userName">Emmanuel Asiamah</div>
          <div class="occupation">Student</div>
      </div>
      <span class="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus ullam, ipsum ab, fugit fugiat a ratione corporis voluptate nesciunt quis vel eius illo, sit pariatur cumque adipisci exercitationem quam!</span>
    </div>
  </div>
</div>
</div>

<!-- [plugins]="lineChartPlugins"
(chartHover)="chartHovered($event)"
(chartClick)="chartClicked($event)" -->

<!-- 
<div class="anum">
    <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
   ></canvas>
</div>
<div class="monthly">
    <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"></canvas>
</div> -->