<div class="mhome-body">
  <div class="mhome-body__charts">
    <div class="anum">
        <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="monthly">
        <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="mhome-body__info">
    <div class="info-pane">
      <div class="info-pane__header">
        <div class="text">Lucky Me</div>
      </div>
      <div class="info-pane__tips">
        <div class="info-tip">
          <div class="info-tip__top">Total Stakes</div>
          <div class="info-tip__bottom">30</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Won</div>
          <div class="info-tip__bottom">GHS 3000</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Lost</div>
          <div class="info-tip__bottom">GHS 30</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Profit</div>
          <div class="info-tip__bottom">GHS 2970</div>
        </div>
      </div>
    </div>
    <div class="info-pane">
      <div class="info-pane__header">
        <div class="text">Lucky Me</div>
      </div>
      <div class="info-pane__tips">
        <div class="info-tip">
          <div class="info-tip__top">Total Stakes</div>
          <div class="info-tip__bottom">30</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Won</div>
          <div class="info-tip__bottom">GHS 3000</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Lost</div>
          <div class="info-tip__bottom">GHS 30</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Profit</div>
          <div class="info-tip__bottom">GHS 2970</div>
        </div>
      </div>
    </div>
    <div class="info-pane">
      <div class="info-pane__header">
        <div class="text">Lucky Me</div>
      </div>
      <div class="info-pane__tips">
        <div class="info-tip">
          <div class="info-tip__top">Total Stakes</div>
          <div class="info-tip__bottom">30</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Won</div>
          <div class="info-tip__bottom">GHS 3000</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Lost</div>
          <div class="info-tip__bottom">GHS 30</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Profit</div>
          <div class="info-tip__bottom">GHS 2970</div>
        </div>
      </div>
    </div>
    <div class="info-pane">
      <div class="info-pane__header">
        <div class="text">Lucky Me</div>
      </div>
      <div class="info-pane__tips">
        <div class="info-tip">
          <div class="info-tip__top">Total Stakes</div>
          <div class="info-tip__bottom">30</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Won</div>
          <div class="info-tip__bottom">GHS 3000</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Lost</div>
          <div class="info-tip__bottom">GHS 30</div>
        </div>

        <div class="info-tip">
          <div class="info-tip__top">Total Profit</div>
          <div class="info-tip__bottom">GHS 2970</div>
        </div>
      </div>
    </div>
  </div>
  <div class="records-pane">
    <div *ngIf="luckymes.length > 0;else norecent" class="recentsbox">
      <div class="recentsbox__header">
        <div class="recentsbox__header--left">
          <span class="fa fa-history"></span>
        </div>
        <div class="recentsbox__header--right">
          Recent LuckyMe
        </div>
      </div>
      <div class="recentsbox__body">
        <div *ngFor="let luckyme of luckymes" class="recent-stake-item">
          <div class="recent-stake-item--top">
            <div class="period">{{luckyme.period}}</div>
            <div class="amount">GHS {{luckyme.amount}}</div>
            <div class="date">Date Staked : {{luckyme.date}}</div>
          </div>
          <div class="recent-stake-item--bottom">
            <div class="status">Status : {{luckyme.status}}</div>
            <div *ngIf="luckyme.isWinner" class="amount-won">Amount Won : GHS {{luckyme.amountToWin}}</div>
            <div *ngIf="!luckyme.isWinner" class="potential-returns">Potential Winning : GHS 2000</div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #norecent>
      <div class="norecents">
        <span class="fa fa-history"></span>
        <div class="text">No Recent Stakes</div>
      </div>
    </ng-template>
  </div>
</div>