.mhome-body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    &__charts{
        text-align: center;
        .anum{
            display: inline-block;
            margin: .5rem;
        }
        .monthly{
            display: inline-block;
            margin: .5rem;
        }
    }
    &__info{
        display: flex;
        overflow: auto;
        padding: 1rem;
        margin:2rem 0rem;
        background-color: white;
        box-shadow: var(--shadow);
        .info-pane{
            box-shadow: var(--shadow);
            margin: 1rem;
            min-width: 30rem;
            &__header{
                padding:1rem 2rem;
                border-top:1px solid var(--bordercolor);
                border-bottom:1px solid var(--bordercolor);
                .text{
                    position: relative;
                    padding: .2rem 1rem;
                    display: inline-block;
                    background-color: #66c386;
                    font-size: 1.5rem;
                    color: white;
                    text-align: center;
                    &::before{
                        content: "";
                        width: 1.5rem;
                        height: 35%;
                        background-color: white;
                        position: absolute;
                        left: 0;
                        top:35%;
                        transform: translateX(-70%);
                        box-shadow: var(--shadow);
                    }
                    &::after{
                        content: "";
                        width: 1.5rem;
                        height: 35%;
                        background-color: white;
                        position: absolute;
                        right: 0;
                        top:35%;
                        transform: translateX(70%);
                        box-shadow: var(--shadow);
                    }
                }
              
            }
            &__tips{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .info-tip{
                    height: 10rem;
                    width:13rem;
                    background-color: white;
                    box-shadow: var(--shadow);
                    margin: 1rem;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: stretch;
                    align-items: stretch;
                    &__top{
                        font-family: 'cursive';
                        letter-spacing: .1rem;
                        font-size:1.5rem;
                        background-color: black;
                        padding: 1rem;
                        color: white;
                        letter-spacing: .1rem;
                        text-align: center;
                    }
                    &__bottom{
                        font-size: 2rem;
                        text-align: center;
                        padding:1rem;
                        font-family: cursive;
                    }
                }
            }
          
        }
    }
   
    .records-pane{
        flex:1 1 50%;
        height: calc(100vh - 8rem);
        background-attachment: fixed;
        margin: 2rem 0rem;
        border-left: 1px solid white;
        box-shadow: var(--shadow);
        .norecents{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            height: 100%;
            >*{
                margin: 1rem;
            }
        }
    }
}
