<div class="mhome-body">
  <div class="mhome-body__top">
    <div class="thumbcard">
      <div class="number">{{userStatistics.totalPoints}}</div>
      <div class="text">Points</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{userStatistics.totalStakes}}</div>
      <div class="text">Total Stakes</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{userStatistics.totalScholarshipStakes}}</div>
      <div class="text">Total Scholarship Stakes</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{userStatistics.totalLuckymeStakes}}</div>
      <div class="text">Total LuckyMe Stakes</div>
    </div>
    <div class="thumbcard">
      <div class="number">{{userStatistics.totalBusinessStakes}}</div>
      <div class="text">Total Business Stakes</div>
    </div>
  </div>
  <div class="mhome-body__info-strips">
    <div class="panel">
      <div class="text">Get Points on every bet placed and win amazing prizes during the points draw at the end of the month</div>
    </div>
  </div>
<div class="stories">
  <div class="heading">
    <div class="text">Stories</div>
  </div>
  <div class="stories__body">
    <div class="story">
      <div class="left">
          <div class="userName">Emmanuel Akoto</div>
          <div class="occupation">Business Man</div>
      </div>
      <span class="right">Ntoboafund is an exeptional platform. It is here to transform our businesses. I won GHS 20,000 which infact is the breakthrough my business got, on the verge of collapsing.</span>
    </div>
    <div class="story">
      <div class="left">
          <div class="userName">Ebenezer Djampo</div>
          <div class="occupation">Lawyer</div>
      </div>
      <span class="right">Ntoboafund is a reliable crowd funding website with many options for you to choose from. It is fair and transparent. It holds all certifications and licenses required to be considered safe and fair.</span>
    </div>
    <div class="story">
      <div class="left">
          <div class="userName">Doris Kwao</div>
          <div class="occupation">Student</div>
      </div>
      <span class="right">As a student, ntoboafund gave me the needed resources just at the right time. When a friend who had previously used the platform introduced me to the scholarship fund. She testified she was able to afford her last years’ school fees from Ntoboa Scholarship fund. Thank you Ntoboafund for this wonderful experience.</span>
    </div>
    <div class="story">
      <div class="left">
          <div class="userName">Eunice Ampah</div>
          <div class="occupation">Trader</div>
      </div>
      <span class="right">Ntoboa Fund is the best betting company! So fast and easy to use. I have been using this platform for over year now and I haven’t had any issues concerning payments. I must say kudos to the team. I would recommend this to everyone.</span>
    </div>
  </div>
</div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157438990-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157438990-1');
</script>

<!-- [plugins]="lineChartPlugins"
(chartHover)="chartHovered($event)"
(chartClick)="chartClicked($event)" -->

<!-- 
<div class="anum">
    <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
   ></canvas>
</div>
<div class="monthly">
    <canvas baseChart width="400" height="400"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"></canvas>
</div> -->