&left {
  //flex: 1 1 25%;
  display: flex;
  justify-content: center;
}
&center {
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .countdown {
    .header {
    }
    .counters {
      .ctd {
        padding: 0.5rem 1rem;
        background-color: white;
        border-radius: 0.7rem;
        color: black;
        // &:first-child{color:#ff5d5d;}
        // &:nth-child(2){color:yellow;}
        // &:nth-child(3){color:#2fff2f;}
        // &:nth-child(4){color:white;}
        span {
          color: blue;
        }
      }
    }
  }
  .ongoingdraw {
    .header {
    }
    .drawbox {
      .loader {
      }
      .participants {
        .info-card__body {
        }
      }
    }
  }

  .stake-box {
    background-color: rgba(white, 0.9);
    padding: 1rem;
    color: black;
    width: 30rem;
    overflow: hidden;
    min-width: 40rem;
    justify-self: center;
    border-radius: 0.5rem;
    &__header {
      text-align: center;
      .text {
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        border-bottom: 1px solid red;
      }
      margin: 0.5rem;
    }
    input[id="stakeboxcontroller"] {
      display: none;
      &:checked {
        & ~ .stake-box__body > .stake-box__body__info {
          transform: translateX(-100%);
        }
        & ~ .stake-box__body > .stake-box__body__staker {
          transform: translateX(-100%);
        }
        & ~ .stake-box__body {
          height: 43rem;
        }
      }
    }
    &__body {
      $bdy: &;
      margin: 0.5rem;
      padding: 1rem;
      position: relative;
      height: 18rem;
      overflow: hidden;
      transition: all 0.3s var(--zoom-bezier);
      &__info {
        position: absolute;
        left: 0;
        width: 100%;
        transition: transform 0.5s var(--zoom-bezier);
        .footer {
          display: flex;
          justify-content: flex-end;
        }
      }
      &__staker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // position: relative;
        position: absolute;
        left: 100%;
        //left:0%;
        width: 100%;
        top: 0;
        transition: transform 0.5s var(--zoom-bezier);
        height: 100%;
        overflow: hidden;
        //padding: 1rem;
        .form-group {
          margin: 0.5rem !important;
          & > span {
            display: block;
            height: 2rem;
          }
        }

        .content {
          .stake-form {
            .form-group {
              margin: 1rem;
              input {
                font-size: 1rem;
              }
            }
          }
        }
        .footer {
          display: flex;
          justify-content: space-between;
        }
      }
      .footer {
        // display: flex;
        // justify-content: space-between;
        align-items: center;

        label {
          font-size: 1.5rem;
          cursor: pointer;
        }
        .i-want {
          float: right;
          margin: 0.5rem;
        }
        .i-resign {
          float: left;
        }
        .i-contribute {
          float: right;
          box-shadow: var(--shadow);
          & > * {
            margin: 0.5rem;
          }
          .pay-amt {
            font-size: 1.6rem;
            display: inline-block;
            color: black;
            background-color: white;
            font-weight: bolder;
            padding: 0.3rem;
            border-radius: 0.5rem;
          }
        }
      }
    }
    &__footer {
      margin: 0.5rem;
    }
    @include clearfix;
  }
}
&right {
  //flex: 1 1 25%;
  display: flex;
  justify-content: center;
}
