@import "../../styles/abstracts/mixins";
app-header{
    color:white;
}
.login-body{
    width:calc(100vw);
    height:calc(100vh);
    background-image: url(../../assets/images/globalbg.jpg);
    z-index: var(--level-two);
    h3,h4{
        text-align: center;
    }
    display: flex;
    justify-content: center;
    align-items:center;
    .login-box{
       // @include absCenter();
        box-shadow: var(--shadow);
        flex: 0 1 40rem;
        padding: 1rem;
        margin: 1rem;
        background-color:rgba(white,.8);
        &__header{
            box-shadow: var(--shadow);
            padding: 1rem;
            color:white;
            background-image: linear-gradient(to right,transparent,var(--primaryColor),transparent)
        }
        &__body{
            padding: 1rem;
            .c-input{
                margin: 1rem 0;
            }
           
        }
        .error-msg{
            text-align: center;
            padding: 1rem;
            color: var(--error-color);

        }
        .loginbtnpane{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .redirect-link{
                text-decoration: underline;
                margin-right: 3rem;
            }
            button{cursor: pointer; font-size: 1.5rem !important;}
        }
        .socials{
            display: flex;
            justify-content: center;
            .slink{
                width:3rem;
                height: 3rem;
                border-radius: 50%;
                overflow:hidden;
                margin: .4rem;
                transition:all .2s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        &__footer{

        }
    
    }
}