<app-header></app-header>
<div class="wrapper scroller">
  <div class="content">
    <!-- Work section Start -->
    <section class="work-sec">
      <div class="container">
        <h6 class="work-title">How it works</h6>
        <div class="work-info">
          <ul class="process-list">
            <li>
              <div class="process">
                <span class="pro-count">1</span>
                <span class="pro-icn card-icn"><img src="assets/svgs/credit-card.svg" alt="credit-card"></span>
                <div class="info">
                  <h5 class="pro-title">Invest</h5>
                  <p class="pro-desc">Invest from as little as GHS 1 into our Education Fund for your own education or to support someone in need.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="process">
                <span class="pro-count">2</span>
                <span class="pro-icn"><img src="assets/svgs/wallet.svg" alt="wallet"></span>
                <div class="info">
                  <h5 class="pro-title">The Crowd Invests</h5>
                  <p class="pro-desc">Thousands of other investors just like yourself also invest in the same fund.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="process">
                <span class="pro-count">3</span>
                <span class="pro-icn"><img src="assets/svgs/diamond.svg" alt="diamond"></span>
                <div class="info">
                  <h5 class="pro-title">Monthly Draw</h5>
                  <p class="pro-desc">At the end of the month a blind draw approved by the Gaming Commission is made to randomly select our monthly cash winners.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="process">
                <span class="pro-count">4</span>
                <span class="pro-icn"><img src="assets/svgs/user-v.svg" alt="user-v"></span>
                <div class="info">
                  <h5 class="pro-title">Potential Returns</h5>
                  <p class="pro-desc">Winning investors will receive 1,000% of their invested amounts into the fund</p>
                </div>
              </div>
            </li>
            <li>
              <div class="process">
                <span class="pro-count">5</span>
                <span class="pro-icn"><img src="assets/svgs/user-x.svg" alt="user-x"></span>
                <div class="info">
                  <h5 class="pro-title">Didn’t win? Don’t worry</h5>
                  <p class="pro-desc">If you did not win for the month, don’t worry. We hold a secondary draw every month where we give out smart phones, laptops , etc.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="process">
                <span class="pro-count">6</span>
                <span class="pro-icn"><img src="assets/svgs/repeat.svg" alt="repeat"></span>
                <div class="info">
                  <h5 class="pro-title">Investment Frequency</h5>
                  <p class="pro-desc">You can invest as many times and as often as you want to increase your chances of winning.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- work section End -->
    <!-- Articles section start -->
    <section class="aritcles-sec">
      <div class="container">
        <h6 class="text-center">NEW ARTICLES</h6>
        <div class="art-wrap article-slider">
          
          
        <div class="art-item" aria-hidden="true" tabindex="0">
            <figure><img src="assets/images/article-img01.jpg" alt="article-img01"></figure>
            <div class="info">
              <h5>Crowdfunding Legal Issues for Small Businesses</h5>
              <p class="profile-date">BY <strong>JEAN MURRAY</strong>, <span>Updated June 25, 2019</span></p>
              <p class="desc">Most crowdfunding websites allow individuals or companies to present an idea to others, who donate money with no expectation of anything (other than a small token gift) in return. One of the largest crowdfunding sites, Kickstarter, sets itself as a middleman between creative types.</p>
            </div>
          </div><div class="art-item" aria-hidden="true" tabindex="-1">
            <figure><img src="assets/images/article-img01.jpg" alt="article-img01"></figure>
            <div class="info">
              <h5>Peer-to-peer Lending as Crowdfunding Model</h5>
              <p class="profile-date">BY <strong>JEAN MURRAY</strong>, <span>Updated June 25, 2019</span></p>
              <p class="desc">Before you get too excited about this new way to raise money for your business, you should be aware of the potential legal issues involved. As usual, when a new idea gets ahead of current regulation and laws, some issues arise. This article addresses some of those issues.</p>
            </div>
          </div></div>
      </div>
    </section>
    <!-- Articles section End -->
  </div>
  <app-footer></app-footer>
</div>