@import "../../styles/abstracts/mixins";
app-busy {
  position: absolute;
  z-index: var(--level-five);
  width: calc(100vw);
  height: calc(100vh);
}
.luckyme-bg {
  position: fixed;
  // background-image: url(../../assets/images/luckyme2.jpg);
  background: url(https://s3.amazonaws.com/cdn.powerball.com/drupal/themes/rapid/images/shared/draw-summary-hero-bg.png)
    center center no-repeat #3ab3d2;
  background-position: bottom right;
  background-size: cover;
  height: calc(100vh);
  width: calc(100vw);
  top: 0;
  left: 0;
  z-index: 0;
}

.luckyme-body {
  position: relative;
  // padding: 2rem;
  //padding-top: 6rem;
  top: 6rem;
  height: calc(100vh - 9.5rem);
  width: calc(100vw);
  overflow: hidden;
  z-index: var(--level-three);

  &--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: calc(100vh - 9.5rem);
    overflow: hidden;
    .luckyme-body__left {
      flex: 1 1 45rem;
      height: calc(100vh - 9.5rem);
      overflow: auto;
      margin-bottom: 1rem;

      .countdown-container {
        white-space: nowrap;
        overflow: auto;
        text-align: center;

        //  background-color: rgba(white,.6);

        .countdown {
          text-align: center;
          font-size: 1.2rem;
          margin: 0.5rem;
          background-color: white;
          border-radius: 0.3rem;
          padding: 0.5rem;
          display: inline-block;
          .header {
            font-family: "Courier New", Courier, monospace;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
          }
          .counters {
            display: flex;
            justify-content: center;

            //flex-wrap: wrap;
            .ctd {
              background-color: #3ab3d2;
              color: white;
              display: inline-block;
              padding: 0.3rem 0.6rem;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin: 0.5rem;
              width: 7rem;
              font-size: 1.6rem;
              border-radius: 0.3rem;
              span {
                font-size: 1.1rem;
                letter-spacing: 0.1rem;
              }
            }
          }
        }
      }
      .stake-box {
        .choice-scrolls {
          margin-top: 2rem;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .choice-box {
            //width: 10rem;
            background-size: cover;
            flex: 0 0 20rem;
            margin: 0.5rem;
            background-color: white;
            display: inline-block;
            overflow: hidden;
            box-shadow: var(--shadow);
            padding: 1rem;
            position: relative;
            .choice-amount {
              text-align: center;
              font-size: 4rem;
            }
            .choice-description {
              p {
                text-align: center;
                font-size: 1.6rem;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                &:not(:last-child) {
                  border-bottom: 1px solid var(--lightGrey);
                }
              }
            }

            &:hover {
              .choice-selector__background {
                opacity: 1;
                .choice-selector {
                  opacity: 1;
                }
              }
            }

            .choice-selector__radio {
              display: none;
              &:checked {
                & ~ .choice-selector__background {
                  opacity: 1;
                  .choice-selector {
                    opacity: 1;
                    background-color: #7c7cd0;
                    &::after {
                      border-bottom: 0.2rem solid white;
                      border-right: 0.2rem solid white;
                    }
                  }
                }
              }
            }

            .choice-selector__background {
              @include floatAndCover();
              background-color: var(--transparentBlack);
              opacity: 0;
              transition: all 0.3s;
              .choice-selector {
                @include absCenter();
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                background-color: #7c7cd0;
                opacity: 0;
                transition: all 0.2s;
                z-index: var(--level-two);
                cursor: pointer;
                &:hover {
                  transform: translate(-50%, -50%) scale(1.2);
                }

                &::after {
                  content: "";
                  position: absolute;
                  top: 43%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(40deg);
                  width: 1.5rem;
                  height: 2.5rem;
                }
              }
            }
          }
        }
        .payment-pane {
          text-align: center;

          margin-top: 3rem;
          a {
            font-size: 3rem;
            border-radius: 0.5rem;
            color: ghostwhite;
            display: inline-block;
            &:hover {
              color: white;
            }
          }
        }
        .choice-period {
          display: flex;
          flex-direction: column;
          align-items: center;
          .header {
            display: inline-block;
            margin-top: 2rem;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            font-weight: 500;
            padding: 0.5rem;
            background-image: linear-gradient(to right, transparent, rgba(white, 0.6), transparent);
          }
          .body {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            .periods {
              background-color: white;
              display: flex;
              border-radius: 0.3rem;
              justify-content: center;
              align-items: center;
              border: 1px solid grey;
              .period-choice {
                cursor: pointer;
                margin-bottom: 0rem;
                position: relative;
                &:not(:last-child) {
                  &::after {
                    content: "";
                    position: absolute;
                    height: 90%;
                    width: 1px;
                    top: 5%;
                    right: 0;
                    background-color: var(--deepGrey);
                  }
                }
                input {
                  display: none;
                  &:checked {
                    & + .text {
                      background-color: grey;
                      color: white;
                    }
                  }
                }
                .text {
                  padding: 1rem;
                  font-size: 1.5rem;
                  transition: all 0.2s;
                }
                &:hover {
                  background-color: grey;
                  color: white;
                  .text {
                    transform: scale(1.2);
                  }
                }
              }
            }
          }
        }
      }
      .ongoingdraw-container {
        text-align: center;
        margin: 1rem;
        .ongoing-draw__info {
          display: inline-block;
          .text {
            color: white;
            padding: 0.5rem 0.8rem;
            margin: 0.5rem;
            border-radius: 0.3rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            background-color: green;
          }
        }
      }
      .howto {
        .tab-box {
          margin: 2rem;
          .tab-content {
            height: 100%;
          }
        }
      }
    }
    .luckyme-body__right {
      border-left: 1px solid var(--bordercolor);
      height: calc(100vh - 9.5rem);
      overflow: auto;
      .info-card {
        background-color: rgba(white, 0.2);
        min-height: 30rem;
        height: 45%;
        &__head {
          font-size: 1.5rem;
          letter-spacing: 0.2rem;
          color: white;
        }
        &__body {
          height: 100%;
          overflow: hidden;
          .winner-group {
            background-color: transparent;
            &__header {
              background-color: transparent;
              font-size: 1.2rem;
            }
          }
          .tab-box {
            height: calc(100% - 4rem);
            .tab-content {
              //min-height: 19rem;
              height: 100%;
              background-color: transparent;
              .p-winnerscount {
                text-align: center;
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                margin-bottom: 0.3rem;
                color: white;
                font-weight: bold;
                position: absolute;
                left:0;
                bottom: 5px;
                width: 100%;
              }
            }
          }
          .tab-box.m-bottom{
            height: calc(100% - 6rem);
          }
          margin: 1rem;
        }
      }
    }

    @media (max-width: 1058px) {
      overflow: auto;
      .luckyme-body__left {
        height: auto;

        .choice-box {
          padding: 0.5rem !important;
          flex: 1 1 10rem !important;
          .choice-amount {
            font-size: 2rem !important;
          }

          .choice-selector__background {
            .choice-selector {
              width: 3rem !important;
              height: 3rem !important;

              &::after {
                width: 1rem !important;
                height: 2rem !important;
              }
            }
          }
        }
      }
      .luckyme-body__right {
        height: auto;
        border-left: none;
        width: 100%;
      }
    }
  }
}
