<div class="h-body">
  <div class="h-top">
    <app-header></app-header>
    <div class="h-top__brand-name">
      <!-- Welcome To Ntuboa Fund -->
    </div>
    <div class="info-pane">
      <div class="info-card">
        <div class="info-card__head">
          <div class="info-card__head--icon">
            <img src="../../assets/images/trophy.png" alt="">
          </div>
          <div class="info-card__head--text">Winners</div>
        </div>
        <div class="info-card__body">
          <div *ngIf="winnings">
            <div *ngFor="let key of ObjectKeys(winnings)" class="winner-group">
              <div class="winner-group__header">
                Winners For {{key}}
              </div>
              <div *ngFor="let winner of winnings[key]" class="winner-item">
                <div class="winner-item__image">
                  <img [src]="apiPath +'/users/getimage/'+ winner.user.email.split('@')[0]" alt="">
                </div>
                <div class="winner-item__description">
                  <div class="winner-name">{{winner.user.firstName }} {{winner.user.lastName}}</div>
                  <div class="winning-details">
                    <div class="amount-won">Won : {{winner.amountToWin}}</div>
                    <div class="amount-staked">staked : GHS {{winner.amount}}</div>
                    <div class="date-won">Date : {{winner.date}}</div>
                  </div>
                </div>
                <div class="winner-item__actions">
                  <div style="background-color: #ae66e6;" class="period">{{winner.period}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-card links">
        <div class="info-card__head">
          <div class="info-card__head--icon">
            <!-- <img src="../../assets/images/trophy.png" alt=""> -->
          </div>
          <div class="info-card__head--text">Try Your Chance, Win Big !</div>
        </div>
        <div class="info-card__body">
          <div class="link-group">
            <div class="link-row">
              <a class="link-card">
                <svg class="linkicon icon icon-mid">
                  <use href="../../assets/Icons/svgs.svg#icon-study" />
                </svg>
                <div class="text">Scholarship</div>
                <div class="cover-text">Be a part of Ntoboa fund and stand a chance of winning a scholarship to furthur your education or that of your loved one. With Ntoboafund, your education is secured.</div>
              </a>
              <a class="link-card">
                <svg class="linkicon icon icon-mid">
                  <use href="../../assets/Icons/svgs.svg#icon-handshake-o" />
                </svg>
                <div class="text">Business</div>
                <div class="cover-text">Start a membership business to develop a direct relationship with others and generate predictable, recurring revenue from our work from friends who pay you.</div>
              </a>
            </div>
            <div class="link-row">
              <a routerLink="/luckyme" class="link-card">
                <svg class="linkicon icon icon-mid">
                  <use href="../../assets/Icons/svgs.svg#icon-moneybag" />
                </svg>
                <div class="text">Lucky Me</div>
                <div class="cover-text">It is not always that you get to say "I am Lucky". With Ntoboafund, saying "I am Lucky" becomes a routine. Join Ntoboafund and win amazing prizes daily.</div>
              </a>
              <a class="link-card">
                <svg class="linkicon icon icon-mid">
                  <use href="../../assets/Icons/svgs.svg#icon-umbrella" />
                </svg>
                <div class="text">Insurance</div>
                <div class="cover-text">Ntoboafund insures you of any future occurrence. You are secured and just at the right time.</div>
              </a>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="h-bottom">


  </div>
</div>
<div class="bg"></div>
<app-faq></app-faq>