@import "../../styles/abstracts/mixins";

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  //background-image: url(../../assets/images/homebg2.jpg);
  background:url(https://s3.amazonaws.com/cdn.powerball.com/drupal/themes/rapid/images/shared/draw-summary-hero-bg.png) center center no-repeat #ffad01;
  width: 100%;
  //background-size: cover;
  //background-repeat: no-repeat;
  z-index: var(--level-one);
}
.h-body {
  z-index: var(--level-two);
  position: relative;
  .h-top {
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    &__link-cards {
      display: flex;
      justify-content:space-evenly;
      flex-wrap: wrap;
      .link-card{
        display: block;
        //width: 30rem;
        flex: 1 1 25rem;
        max-width: 25rem;
        height: 35rem;
        margin:2rem;
        overflow: hidden;
        &,&:link,&:active{
          color: black;
        }

        &__head{
          background-color: #ffad01;
          padding: 2rem 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          height:50%;
          z-index: 2;
          svg{
            width:10rem;
            height:10rem;
            transition: all .1s;
            fill: black;
            animation-name: bounce;
            animation-duration: 10s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
            transform-origin: center bottom;
          }
          .text{
            color: black;
            font-size: 2rem;
            font-weight: bolder;
            letter-spacing: .1rem;

          }
          &::after{
            content: "";
            height: 0rem;
            border-top: 2rem solid #ffad01;
            border-left:2rem solid transparent;
            border-right: 2rem solid transparent;
            border-bottom:2rem solid transparent;
            position: absolute;
            bottom: -4rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &__bottom{
          background-color: white;
          padding: 2rem;
          text-align: center;
          height: 50%;
          display:flex;
          align-items: center;
          flex-direction: column;
          position: relative;
          .play-btn{
            position: absolute;
            padding: .5rem 1.5rem; 
            background-color: orangered;
            color:white;
            bottom: 1rem;
            left:50%;
            transform: translateX(-50%);
            box-shadow: var(--shadow);
          }
        }
        &:hover{
          box-shadow: var(--shadow);
          transform: translateY(-.2rem);
          .link-card__head{
            svg{
              transform: scale(1.2) !important;
            }
          }
        }
        &:active{
          box-shadow: none;
          transform: translateY(.1rem);
        }
      }
    }
  }
  .info-pane {
    display: flex;
    margin: 4rem 2rem 1rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
    height:60rem;
    .ancment-cards{
      background-color: white;
      box-shadow: var(--shadow);
      flex:1 1;
      margin: 2rem 1rem 2rem 2rem;
      &>div{
        display: flex;
        justify-content:center;
        align-items: center;
      }
      .ancment-card{
        display: block;
        //width: 30rem;
        flex: 1 1 25rem;
        max-width: 25rem;
        margin:2rem;
        overflow: hidden;
        &,&:link,&:active{
          color: white;
        }

        &__head{
          padding: 2rem 3rem .5rem 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          height:50%;
          z-index: 2;
          svg{
            width:5rem;
            height:5rem;
            transition: all .1s;
            fill: black;
          }
          .text{
            color: #4677c4;
            font-size: 1.5rem;
            font-weight: bolder;
            letter-spacing: .1rem;
          }
        }
        &__bottom{
          padding: 0rem 2rem 4rem 2rem;
          text-align: center;
          height: 50%;
          display:flex;
          align-items: center;
          flex-direction: column;
          
          position: relative;
          .cover-text{
           color: #505050;
          }
          .action-btn{
            position: absolute;
            padding: .5rem 1.5rem; 
            border-bottom: 1px solid black;
            color:black;
            bottom: 1rem;
            left:50%;
            transform: translateX(-50%);
            cursor: pointer;
            &:hover{
              color:#4677c4;
              border-color:#4677c4;
              
            }
          }
        }

      }
    }
    .info-card {
      // background-color: var(--lightGrey);
      min-width: 0;
      box-shadow: var(--shadow);
     // max-width:35rem;
      margin: 2rem 2rem 2rem 1rem;
      border-radius: 0.3rem;
      &__body{
        background:url(https://s3.amazonaws.com/cdn.powerball.com/drupal/themes/rapid/images/shared/draw-summary-hero-bg.png) center center no-repeat green;
        height: 100%;
        overflow:auto;
      }
    }
   
  }
  // }
}

@keyframes bounce {
  from,
  2.0%,
  5.3%,
  8.0%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  4.0%,
  4.3% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  7.0% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  9.0% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  10%{
    transform: translate3d(0, 0, 0);
  }
}
