<div class="h-body">
  <div class="h-top">
    <app-header></app-header>
    <div class="h-top__brand-name">
      <!-- Welcome To Ntuboa Fund -->
    </div>
    <div class="info-pane">
      <div class="info-card">
        <div class="info-card__head">
          <div class="info-card__head--icon">
            <img src="../../assets/images/trophy.png" alt="">
          </div>
          <div class="info-card__head--text">Winners</div>
        </div>
        <div class="info-card__body">
            <div *ngFor="let key of ObjectKeys(winnings)" class="winner-group">
              <div class="winner-group__header">
                Winners For {{key}}
              </div>
              <div *ngFor="let winner of winnings[key]" class="winner-item">
                <div class="winner-item__image">
                  <img [src]="apiPath +'/users/getimage/'+ winner.user.email.split('@')[0]" alt="">
                </div>
                <div class="winner-item__description">
                  <div class="winner-name">{{winner.user.firstName }} {{winner.user.lastName}}</div>
                  <div class="winning-details">
                    <div class="amount-won">Won : {{winner.amountToWin}}</div>
                    <div class="amount-staked">staked : GHS {{winner.amount}}</div>
                    <div class="date-won">Date : {{winner.date}}</div>
                  </div>
                </div>
                <div class="winner-item__actions">
                  <div style="background-color: #ae66e6;" class="period">{{winner.period}}</div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="info-card">
        <div class="info-card__head">
          <div class="info-card__head--icon">
            <!-- <img src="../../assets/images/trophy.png" alt=""> -->
            <span class="fa fa-comments"></span>
          </div>
          <div class="info-card__head--text">What you need to know</div>
        </div>
        <div class="info-card__body">
          <div class="question-card">
            <input type="checkbox" id="q1">
            <label class="question" for="q1">
              1. How do i register
              <span class="fa fa-arrow-up"></span>
            </label>
            <div class="answer">
              Just Register and Make a choice
            </div>
          </div>
          <div class="question-card">
            <input type="checkbox" id="q2">
            <label class="question" for="q2">
              2. How Do I Get Paid
              <span class="fa fa-arrow-up"></span>
            </label>
            <div class="answer">
              Once you are selected as the winner for the period you selected, You will recieve an sms and the money
              would be paid to your momo account immediately.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="h-bottom">


  </div>
</div>
<div class="bg"></div>